$font_weight_title: 500;
$font_weight_header: 600;
$font_weight_normal: 400;
$title_font_size: 14px;
$h1_font_size: 18px;
$h2_font_size: 14px;
$body_font_size: 12px;
$table_font_size: 14px;
$caption_font_size: 10px;