@import 'CalciteColors';

//  COLORS
$background_color            : $Calcite_Gray_000;

$text_color                  : $Calcite_Gray_700;

$anchor_color                : $Calcite_Highlight_Blue_350;

$btn_color                   : $Calcite_Gray_550;
$btn_hover_color             : $Calcite_Gray_700;

$main_border_color           : $Calcite_Gray_350;

$page_menu_header_color      : $Calcite_Gray_300;
$page_menu_header_bg         : $Calcite_Gray_650;
$page_menu_header_border     : $Calcite_Gray_650;
$page_menu_color             : $Calcite_Gray_200;
$page_menu_item_border       : $Calcite_Gray_600;
$page_menu_item_hover        : $Calcite_Gray_650;
$page_menu_bg_color          : $Calcite_Gray_550;
$page_menu_bg_color_selected : $Calcite_Gray_700;
$page_menu_btn_hover         : $Calcite_Gray_000;

$title_color                 : $Calcite_Gray_700;

$table_row_bg_odd            : $Calcite_Gray_300;
$table_row_bg_even           : $Calcite_Gray_100;
$table_row_border            : $Calcite_Gray_100;
