{% set pageview = 'application' %}

{% extends "layout/base.html" %}
{% block title %}构建应用中心 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class="content">
    <div class="dec">
      <div class="container">
        <!-- 小部件 -->
        <div class="row">
          <div class="leader">
            <h3>30+小部件可供选择</h3>
          </div>
          <div class="col-md-7 col-md-push-5">
            <p>
              强大的GIS工具，集成30多个GIS功能小组件（包括，测量小部件、图层小部件、地图库小部件、打印小部件、查询小部件等等）帮助您来完善应用程序的交互功能，您可以根据需要选择相应的小部件将其添加入您的应用程序。
            </p>
            <div class="center" style="display:inline-block;float:right;">
              <a class="btn btn-default clear-dark-button usernow" href="../arcgis/apps/webappbuilder/index.html?title=webappbuilder" role="button"
                style="color:#FF5A69;border-color: #FF5A69;" target="_blank">马上使用</a>
            </div>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="img-responsive center-block" src="assets/images/application/appbuilder/widgets.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
    <div class="dec odd">
      <div class="container">
        <div class="row">
          <div class="leader">
            <h3>简单配置无需编码</h3>
          </div>
          <div class="col-md-7">
            <p>
              即便您没有任何代码基础，所有操作都可以完全所见即所得的方式通过简单的配置，添加应用程序的功能，选择应用程序的主题，改变整体的风格样式，构建一个完全属于您自己的Web应用程序。
            </p>
            <div class="center" style="display:inline-block;float:right;">
              <a class="btn btn-default clear-dark-button usernow" href="../arcgis/apps/webappbuilder/index.html?title=webappbuilder" role="button"
                style="color:#FF5A69;border-color: #FF5A69;" target="_blank">马上使用</a>
            </div>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="assets/images/application/appbuilder/nocode.png" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
    <div class="dec">
      <div class="container">
        <div class="row">
          <div class="leader">
            <h3>多平台，多终端适用</h3>
          </div>
          <div class="col-md-7 col-md-push-5">
            <p>
              Web AppBuilder采用了响应式界面设计，配置出的应用可以适应多种尺寸的屏幕，支持移动端，可适应于当前各种主流移动设备，如手机、平板等。开发人员只需要关注他们自己的桌面的,平板电脑或移动设备的UI设计。
            </p>
            <div class="center" style="display:inline-block;float:right;">
              <a class="btn btn-default clear-dark-button usernow" href="../arcgis/apps/webappbuilder/index.html?title=webappbuilder" role="button"
                style="color:#FF5A69;border-color: #FF5A69;" target="_blank">马上使用</a>
            </div>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="assets/images/application/appbuilder/mobile2.png" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
    <div class="dec last">
      <div class="container">
        <div class="row">
          <div class="leader">
            <h3>自定义主题风格样式</h3>
          </div>
          <div class="col-md-7">
            <p>
              开发者可灵活的切换应用程序的主题，WebAppbuilder提供了过多套主题风格供开发者使用。您还可以通过改变应用程序的样式，对各种主题进行自定义的调整，满足自己的应用需求。
            </p>
            <div class="center" style="display:inline-block;float:right;">
              <a class="btn btn-default clear-dark-button usernow" href="../arcgis/apps/webappbuilder/index.html?title=webappbuilder" role="button"
                style="color:#FF5A69;border-color: #FF5A69;" target="_blank">马上使用</a>
            </div>
          </div>
          <div class="col-md-5">
            <img class="img-responsive center-block" src="assets/images/application/appbuilder/themes.png" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/data.js"></script>
{% endblock %}