{% set pageview = 'application' %}

{% extends "layout/base.html" %}
{% block title %}开发中心 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class='container'>
    <div class="content">
      <div id="mainContent" class="row-fluid" style="">
        <div class="apiBanner"></div>
        <div class="row-fluid develope-bg">
          <div class="itemlist center">
            <div class="wrap l">
              <div class="out">
                <a href="#services">
                  <div class="circle">
                    <div id="interface"></div>
                  </div>
                </a>
                <a href="#services">
                  <h2>应用服务接口</h2>
                </a>
                <p>发送HTTP请求，获取数据存储和检索、POI数据、地址解析、坐标转换、IP定位、车联网等服务。</p>
              </div>
            </div>
            <div class="wrap l">
              <div class="out">
                <a href="#jsapi">
                  <div class="circle">
                    <div id="imac"></div>
                  </div>
                </a>
                <a href="#jsapi">
                  <h2>JavaScript开发</h2>
                </a>
                <p>使用JavaScript编写，适用网页中嵌入地图服务，支持2D/3D、卫星、街景、室内实景及定制化地图展现。</p>
              </div>
            </div>
            <div class="wrap l">
              <div class="out">
                <a href="#iosapi">
                  <div class="circle">
                    <div id="apple"></div>
                  </div>
                </a>
                <a href="#iosapi">
                  <h2>IOS开发</h2>
                </a>
                <p>适用iOS移动设备应用中实现地图展示、POI搜索、导航等功能，帮用户轻松搭建专业的LBS类应用。</p>
              </div>
            </div>
            <div class="wrap l">
              <div class="out">
                <a href="#androidapi">
                  <div class="circle">
                    <div id="android"></div>
                  </div>
                </a>
                <a href="#androidapi">
                  <h2>Android开发</h2>
                </a>
                <p>适用Android平台APP中实现地图展示、信息搜索、定位、导航等功能，提供全面的LBS解决方案。</p>
              </div>
            </div>
          </div>
        </div>
        <a name="services"></a>
        <div class="row-fluid hexagon-wrapper" style="margin-top: -48px;">
          <div class="center center-text trailer-2 leader-2 column-22" style="padding-top:30px;">
            <img src="assets/images/developer/speech-full.png" alt="">
            <h2 class="leader-1 trailer-half">应用服务接口</h2>
            <div class="column-18 trailer-2 center">
              <p>
                ArcGIS提供的REST功能服务，通过访问URL地址实现服务调用。包括获取基础地图服务、空间查询服务、空间统计服务、定位服务等。
              </p>
              <p>
                <a href="developCenter/api/service.html?type=services&title=summarize">
                            浏览所有应用服务接口、示例
                            <span class="icon-external-link"></span>
                        </a>
              </p>
            </div>
            <div class="picBox clearfix center">
              <div class="item">
                <h3 class="features-hexagon visualization-icon">
                  <a href="developCenter/api/service.html?type=services&title=mapService">基础地图服务</a>
                </h3>
                <p class="no-trailer">
                  ArcGIS 包含一套底图，可用于提供世界和您的工作环境的参考地图。这些地图根据大量权威数据提供者所提供的最佳可用数据构建而成，可呈现多种制图样式。它们旨在强调以不同的角度(从物质到政治)看世界。用户可以选择最适合地图或应用程序的底图。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon geotrigger-icon">
                  <a href="developCenter/api/service.html?type=services&title=QueryService">空间查询服务</a>
                </h3>
                <p class="no-trailer">
                  ArcGIS提供了一套简单快捷的空间查询机制，可以从多层次、多角度满足用户不同的查询需求，这种查询与普通的SQL查询有较大的差别，它允许用户使用一些普通数据库没有的的集合数据类型，如点类型，线类型与面类型，简单快捷得到查询结果，并且操作简单，结果清晰。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon analysis-icon">
                  <a href="developCenter/api/service.html?type=services&title=StatisticsService">空间统计服务</a>
                </h3>
                <p class="no-trailer">
                  在空间查询服务的基础上，根据用户选择的统计服务，ArcGIS可以快速的对查询结果进行统计分类，并对结果进行渲染，使得统计结果一目了然，从而描述和模拟空间现象和过程，避免了用户进行数据的二次分析过程。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon geocoding-icon">
                  <a href="developCenter/api/service.html?type=services&title=LocationService">定位服务</a>
                </h3>
                <p class="no-trailer">
                  定位服务是一类简单的HTTP接口，用于提供从地址到经纬度坐标或者从经纬度坐标到地址的转换服务，用户可以使用C# 、C++、Java等开发语言发送HTTP请求且接收JSON、XML的返回数据。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon geoenrichment-icon">
                  <a href="developCenter/api/service.html?type=services&title=TaggingService">数据展示服务</a>
                </h3>
                <p class="no-trailer">
                  和普通的数据展示服务不同，ArcGIS提供的数据展示服务更加直观，用户可以根据自己的选择，例如通过渲染的方式，指定分级方式，以及更改限制特征数据大小值的方式等等，以更加突出富有表现力的方式对数据进行展示。分级渲染方式包括点要素、面要素专题渲染服务。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon imagery-icon">
                  <a href="developCenter/api/service.html?type=services&title=Data_showService">标注服务</a>
                </h3>
                <p class="no-trailer">
                  在地图上，如果用户看到自己感兴趣的东西，而又无法用笔记住，那岂不是很遗憾，ArcGIS非常人性化的提供了标注服务，用户可以在地图的基础上添加属于自己的东西，无论添加的是自定义文字、点、图片、折线、绘制多边形等等，这些私人订制般的服务ArcGIS都可以完美提供。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon directions-icon">
                  <a href="developCenter/api/service.html?type=services&title=RenderingService">专题渲染服务</a>
                </h3>
                <p class="no-trailer">
                  用户可以根据自己特有需求，在感兴趣的区域制作自己喜欢的地图，可以是颜色、字体、分类效果展示等等，ArcGIS强大的渲染功使得用户的地图更加精致，主题更加突出。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon storage-icon">
                  <a href="developCenter/api/service.html?type=services&title=Statistics_show_Service">统计信息展示服务</a>
                </h3>
                <p class="no-trailer">
                  在统计服务的基础之上，ArcGIS提供了更加高级的统计信息展示服务，利用ArcGIS的强大渲染功能，对统计结果的图表、地图等进行丰富的渲染，使得统计效果展示的界面更加友好，更加符合用户的需求。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon real-time-icon">
                  <a href="developCenter/api/service.html?type=services&title=TimeService">时态展示服务</a>
                </h3>
                <p class="no-trailer">
                  从ArcGIS10开始，提供了时间图层的支持，用户可以根据该图层，显示一段时间内数据中的模式和变化趋势，例如用户可以查看某地区一段时间内的人口数量的变化，可以查询某地区一段时间内的城市发展规模的变化。
                </p>
              </div>
              <div class="item">
                <h3 class="features-hexagon ready-content-icon">
                  <a href="developCenter/api/service.html?type=services&title=GridService">格网图展示</a>
                </h3>
                <p class="no-trailer">ArcGIS提供了丰富的题图展现形式，可以在原有地图的基础上添加格网显示，为地图划分指定数量的行和列。</p>
              </div>
              <div class="item">
                <h3 class="features-hexagon html5-icon">
                  <a href="developCenter/api/service.html?type=services&title=Party_figure_Service">新型聚合图</a>
                </h3>
                <p class="no-trailer">具有鲜活展现能力的聚合图，如蜂窝图。所谓蜂窝状网格，也就是由多个六边形组成的类似蜂窝的网格。</p>
              </div>
              <div class="item">
                <h3 class="features-hexagon integration-icon">
                  <a href="developCenter/api/service.html?type=services&title=bigDataRender_Service">大数据专题图</a>
                </h3>
                <p class="no-trailer">
                  专题地图是指突出而尽可能完善、详尽地表示制图区内的一种或几种自然或社会经济（人文）要素的地图。通过分级渲染器（ClassBreaksRenderer）对大数据进行分级渲染形成大数据专题图。
                </p>
              </div>
            </div>
          </div>
        </div>
        <a name="jsapi"></a>
        <div class="row-fluid hexagon-wrapper">
          <div class="center center-text leader-2 column-22">
            <img src="assets/images/developer/imac-full.png" alt="">
            <h2 class="leader-1 trailer-half">JavaScript开发</h2>
            <div class="column-18 trailer-2 center">
              <p>使用JavaScript编写，适用WEB端的应用程序。可以实现基础地图服务调用、空间查询服务、空间统计服务、定位服务等。</p>
              <p>
                <a href="developCenter/api/api.html?type=js&title=summarize">
                            浏览JavaScript APIs帮助、示例
                            <span class="icon-external-link"></span>
                        </a>
              </p>
              <img src="assets/images/developer/desktop-features-analytics.png" alt=""></div>
          </div>
        </div>
        <a name="iosapi"></a>
        <div class="row-fluid hexagon-wrapper">
          <div class="center center-text leader-2 column-22">
            <img src="assets/images/developer/apple-full.png" alt="">
            <h2 class="leader-1 trailer-half">IOS开发</h2>
            <div class="column-18 trailer-2 center">
              <p>适用iOS移动设备应用，包括iPad，iPhone等。可以实现基础地图服务调用、空间查询服务、空间统计服务、定位服务等。</p>
              <p>
                <a href="developCenter/api/iosApi.html?type=ios&title=summarize">
                            浏览IOS APIs帮助、示例
                            <span class="icon-external-link"></span>
                        </a>
              </p>
              <img src="assets/images/developer/features-apps.png" alt=""></div>
          </div>
        </div>
        <a name="androidapi"></a>
        <div class="row-fluid hexagon-wrapper">
          <div class="center center-text leader-2 column-22">
            <img src="assets/images/developer/android-full.png" alt="">
            <h2 class="leader-1 trailer-half">Android开发</h2>
            <div class="column-18 trailer-2 center">
              <p>适用Android移动设备应用，包括平板，手机等。可以实现基础地图服务调用、空间查询服务、空间统计服务、定位服务等。</p>
              <!-- <p>    
                    <a href="http://links.esri.com/ready-to-use-maps/">
                        浏览Android APIs帮助、示例
                        <span class="icon-external-link"></span>
                    </a>
                </p>
                -->
              <p>
                <a href="developCenter/api/androidApi.html?type=android&title=summarize">
                        浏览Android APIs帮助、示例
                        <span class="icon-external-link"></span>
                    </a>
              </p>
              <img src="assets/images/developer/server-features-enterprise.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/data.js"></script>
{% endblock %}