{% set pageview = 'application' %}

{% extends "layout/base.html" %}
{% block title %}第三方集成 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class='container'>
    <div class="content">
      <div class="temp-overview">
        <div class="container">
          <div class="leader">
            <h3>Esri Maps for IBM Cognos</h3>
          </div>
          <div class="col-md-8">
            <p class="lead">将智能地图整合到 BI 应用程序中以获得更完整且更具可操作性的报表。添加 Esri 人口统计和消费数据以取得更多详细信息。在报表中加入地图之后，用户可以直观的从地图上看到数据趋势，并借助一系列的地图操作、空间分析对业务数据基于地图进行展示、分析和预测，其优势显而易见。</p>
            <a href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos" target="_blank">
              <p class="url-internet pull-left">前往查看</p>
            </a>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="assets/images/plugins/arcgis4cognos.jpg" alt="Generic placeholder image"></div>
        </div>
      </div>
      <div class="temp-overview plugins-color-F1F1F1">
        <div class="container">
          <div class="leader">
            <h3 style="background:#F1F1F1">Esri Maps for Salesforce</h3>
          </div>
          <div class="col-md-8 col-md-push-4">
            <p class="lead">向客户信息中添加位置。在地图上查看模式、机会和竞争者。将这些地图共享至整个企业。无论你是寻找针对提高促销方式新客户，或试图定位跟踪您的办理登机手续等等，Salesforce的ESRI地图给你带来CRM数据与ArcGIS数据帮助您提高评估能力。</p>
            <a href="http://www.esri.com/software/location-analytics/esri-maps-for-salesforce" target="_blank">
              <p class="url-internet pull-right">前往查看</p>
            </a>
          </div>
          <div class="col-md-4 col-md-pull-8">
            <img class="featurette-image img-responsive center-block" src="assets/images/plugins/arcgis4salesforce.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>
      <div class="temp-overview">
        <div class="container">
          <div class="leader">
            <h3>Esri Maps for MicroStrategy</h3>
          </div>
          <div class="col-md-8">
            <p class="lead">将智能地图整合到 BI 应用程序中以获得更完整且更具可操作性的报表。添加 Esri 人口统计和消费数据以取得更多详细信息。Esri Maps for MicroStrategy让你部署动态地图和进行丰富的地质分析更加容易的解决任何挑战。通过嵌入丰富的地图和数据可视化，当您使用位置对您的业务优势评估，可以更好地了解和影响性能。</p>
            <a href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy" target="_blank">
              <p class="url-internet pull-left">前往查看</p>
            </a>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="assets/images/plugins/arcgis4microstrate.jpg" alt="Generic placeholder image"></div>
        </div>
      </div>
      <div class="temp-overview  plugins-color-F1F1F1">
        <div class="container">
          <div class="leader">
            <h3 style="background:#F1F1F1">Esri Maps for Office</h3>
          </div>
          <div class="col-md-8 col-md-push-4">
            <p class="lead">Microsoft Excel 和 PowerPoint 用户可凭借地图的力量根据数据询问与位置有关的问题，以便更深入地了解情况，并做出更明智的决定。通过位置驱动分析提高工作效率。为 Microsoft Office
              带来全新的分析维度。获取新观点并迅速做出更明智的决策。向 Excel 电子表格和 PowerPoint 演示文稿轻松添加制图功能。</p>
            <a href="http://doc.arcgis.com/zh-cn/maps-for-office/" target="_blank">
              <p class="url-internet pull-right">前往下载</p>
            </a>
          </div>
          <div class="col-md-4 col-md-pull-8">
            <img class="featurette-image img-responsive center-block" src="assets/images/plugins/arcgis4excel.png" alt="Generic placeholder image"></div>
        </div>
      </div>
      <div class="temp-overview plugins-color-1F354A">
        <div class="container">
          <div class="leader">
            <h3 style="background:#1F354A">Esri Maps for SharePoint</h3>
          </div>
          <div class="col-md-8">
            <p class="lead" style="color:white">将列表和数据转换成彩色编码地图、点符号地图、聚类点地图或热点图的形式。利用 Esri 的人口统计和生活方式数据丰富关键业务度量。Esri Maps for SharePoint 充分利用 Microsoft SharePoint
              2010 和 2013 框架以及 SharePoint Online 平台提供可配置的交互式制图组件，以便您了解组织数据的地理空间视图。</p>
            <a href="http://www.esri.com/software/maps-for-sharepoint" target="_blank" class="active">
              <p class="url-internet pull-left">前往下载</p>
            </a>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="assets/images/plugins/arcgis4sharePoint.png" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/data.js"></script>
{% endblock %}