<div class="footer">
  <div class="container">
    <!-- <p>主办单位： 江西省水利厅 承办单位：江西省防汛信息中心 江西省水利厅版权所有</p>
         <p>地址：南昌市中山西路68号 邮编：330009 E-mail：jxsltxf@jxsl.gov.cn 电话:0791-88825678 传真：0791-88825677</p>
         <p>Copyright  © 2016  ICP备案号：赣ICP备12001609号</p> -->

    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="column col-xs-4">
          <h4>平台应用</h4>
          <ul class="footer-block">
            <li>
              <a href="template.html" target="_blank">模板应用</a>
            </li>
            <li>
              <a href="appbuilder.html" target="_blank">构建应用中心</a>
            </li>
            <li>
              <a href="plugins.html" target="_blank">第三方集成</a>
            </li>
          </ul>
        </div>
        <div class="column col-xs-4">
          <h4>开发中心</h4>
          <ul class="footer-block">
            <li>
              <a href="developer/api/service.html?type=services&title=summarize" target="_blank">应用服务接口</a>
            </li>
            <li>
              <a href="developer/api/api.html?type=js&title=summarize" target="_blank">JavaScript开发</a>
            </li>
            <li>
              <a href="developer/api/iosApi.html?type=ios&title=summarize" target="_blank">iOS开发</a>
            </li>
            <li>
              <a href="developer/api/androidApi.html?type=android&title=summarize" target="_blank">Android开发</a>
            </li>
          </ul>
        </div>
        <div class="column col-xs-4">
          <h4>关于我们</h4>
          <ul class="footer-block">
            <li>
              <a href="#" target="_blank">联系我们</a>
            </li>
            <li>
              <a href="#" target="_blank">服务条款</a>
            </li>
            <li>
              <a href="#" target="_blank">隐私策略</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright pull-right hidden-xs">
        <p>地理空间信息服务管理系统</p>
        <p>support@geoplat.com</p>
      </div>
    </div>
  </div>
</div>
