<div class="sceneListItem">
    <table>
        <tr>
            <td>
                <div class="thumbOther" style="background-image: url('${sceneThumbnailUrl}');"></div>
            </td>
            <td class="thumbDesc">
                <div>
                    <div class="layerTypeIcon" style='background-image: url("js/esri/css/images/item_type_icons/sceneweblayer16.png");'></div>
                    <div class="title" title="${title}">${title}</div>
                </div>
                <div class="sub" title="${type} 所有者 ${owner}">
                    <div class="layerLink">${type}</div>
                    <div class="inlineContainer">&nbsp;所有者&nbsp;</div>
                    <div class="inlineContainer">${owner}</div>
                </div>
            </td>
            <td>
                <a class="viewWebSceneButton" title="查看" href="${viewSceneUrl}"></a>
            </td>
        </tr>
    </table>
</div>
