<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="assets/css/main.css" />
    {% block style %}{% endblock %}
  </head>

  <body>
    {% include "common/header.html" %}

    {% block content %}{% endblock %}

    {% include "common/footer.html" %}

    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/main.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>