<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <title>{% block title %}{% endblock %}</title>

    {% block style %}{% endblock %}

  </head>

  <body class="map soria esri mapviewer">
    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
  </body>
</html>
