<div>
  <table>
    <tr>
      <td><span data-dojo-attach-point="colorText" class="paneSectionTitle symbolLayerText"></span>
      </td>
      <td>
        <div class="colorButton" data-dojo-attach-point="selectedColorDropdown" data-dojo-type="dijit/form/DropDownButton">
         <span >
            <div class="colorSwatchContainer">
              <div class="colorSwatch">&nbsp;&nbsp;</div>
            </div>
          </span>
          <div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="colorPalette">
            <div data-dojo-type="dijit/ColorPalette" data-dojo-attach-point="colorPaletteWidget" data-dojo-attach-event="change:_onColorPaletteWidgetChange"></div>
            <table class="transparencyTable">
              <tr>
                <td data-dojo-attach-point="transparencyText"></td>
                <td class="transparencyInputColumn">
                  <div>
                    <input class="transparencyInput" data-dojo-attach-point="transparencyInput" data-dojo-type="dijit/form/NumberTextBox" type="text" data-dojo-props="minimum: 0, maximum:100, className:'transparencyInput'" data-dojo-attach-event="keypress:_onTransparencyInputKeypressHandler,change:_updateTransparencyInputSelectedValue"/>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td data-dojo-attach-point="extrusionHeightText" class="paneSectionTitle symbolLayerText "></td>
      <td>
        <div>
          <div class="extrusionHeightNumberText">
            <input data-dojo-attach-point="extrusionHeightInput" data-dojo-type="dijit/form/NumberTextBox" type="text" data-dojo-props="minimum:-999999999, maximum:999999999, className:'sizeInputTextBox'" data-dojo-attach-event="keypress:_onExtrusionHeightInputKeypressHandler,change:_updateExtrusionHeightSelectedValue" value="0"/>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
