<div>
  <div class="paneSectionTitle" data-dojo-attach-point="symbols"></div>
  <div data-dojo-attach-point="originalChangeSymbology" class="changeSymbols"></div>
  <div class="editorWrapper" data-dojo-attach-point="editorWrapper">
    <div data-dojo-attach-point="symbologyLoading" class="symbologyLoading hide"></div>
    <div class="paneSectionTitle subSection" data-dojo-attach-point="dimensions"></div>
    <div class="toggle2d3d" data-dojo-attach-point="changeDimension"></div>
    <div data-dojo-attach-point="symbolLayerContainer" class="subSection"></div>
  </div>
  
</div>
