<div>
    <div>
        <div class="esriFloatLeading esriLeadingMargin1" style="padding-top:8px;">
            <span id="basemap-galleryLabel" style="font-weight: bold;">
            ${i18n.selectBasemap}
            </span>
        </div>
        <div class="esriFloatTrailing esriTrailingMargin1" style="padding-top:5px;">
            <A id="basemap-galleryClose" href="JavaScript:void(0);" title="${i18n.close}" alt="${i18n.close}">
            </A>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="padding-right:10px; padding-left:10px;"><hr/></div>
    <div id="containerNode">
    </div>
</div>