<div dojotype="dijit.layout.ContentPane" region="top" dojoAttachPoint="containerNode">

  <h1>${i18n.changePasswordLabel}</h1>
  <div style="overflow:auto; margin-top:15px;" class="userDetails">

    <div class="esriFloatLeading" style="clear:both; width: 150px;">
      <img dojoAttachPoint="thumbnailImage" class="profileThumbnail" />
    </div>

    <div class="esriFloatLeading esriLeadingMargin1" style="width:700px;">

      <span class="esriItemTitle" style="display:block;" dojoAttachPoint="label_fullName"></span>

      <div style="margin-top:1em;" class="property">
        <table>
          <tbody>
            <tr>
              <td>
                <label for="new_password" style="padding:0;margin:0;">
                  ${i18n.newPasswordLabel}
                </label>
              </td>
              <td>
                <div id="new_password" name="new_password" style="padding:2px;margin:0;" type="password" dojotype="dijit.form.TextBox" trim="true">
                </div>
              </td>
            </tr>
            <tr height="5">
              <td colspan="2" height="5">
              </td>
            </tr>
            <tr>
              <td>
                <label for="verify_password" style="padding:0;margin:0;">
                  ${i18n.verifyPasswordLabel}
                </label>
              </td>
              <td>
                <div id="verify_password" name="verify_password" style="padding:2px;margin:0;" type="password" dojotype="dijit.form.TextBox" trim="true">
                </div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <br/>
                <div dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_submitPasswordChange" iconclass="esriSaveIcon">${i18n.changePasswordLabel}</div>
                <div dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_cancelPasswordChange" iconclass="esriCloseIcon">${i18n.cancel}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <form dojoAttachPoint="passwordForm" method="post">
    <input type="hidden" name="username"/>
    <input type="hidden" name="fullName"/>
    <input type="hidden" name="email"/>
    <input type="hidden" name="password"/>
    <input type="hidden" name="organization"/>
    <input type="hidden" name="tags"/>
    <input type="hidden" name="description"/>
    <input type="hidden" name="privacy"/>
    <input type="hidden" name="storageQuota"/>
  </form>
</div>
