<div class="featuredItems" dojoAttachPoint="containerNode">
  <!-- 
  <div class="details" dojoAttachPoint="_detailsPane"> </div>
  <div class="gallery">
	  <span style="vertical-align: middle;">
		  <a dojoAttachEvent="onclick:prevPage">
	      <span class="pageButton pageButtonRight" style="display:inline-block;">&lt;</span>
	    </a>
		  <div style="display: inline-block;">
		   <div dojoAttachPoint="_galleryPane" style="display:block;"></div>
		  </div>
		  <a dojoAttachEvent="onclick:nextPage">
		    <span class="pageButton pageButtonRight" style="display:inline-block;">&gt;</span>
		  </a>
	  </span>
  </div>
  -->
  <div class="thumb esriAlignLeading" dojoAttachPoint="_detailsIconPane"> </div>
  <div class="gallery esriAlignLeading">
    <div dojoAttachPoint="_galleryPane" ></div>
  </div>  
  <div class="details esriAlignLeading" dojoAttachPoint="_detailsTextPane" style="clear:both;"> </div>
  
  <div style="clear:both; height:0px;"></div>
</div>