<div class="filterSet" id="${id}.filterSet">
  <div id="${id}.matchMsgSet" class="matchMsgSet esriFloatLeading esriLeadingPadding1">
  </div>
  <div class="setIcons esriFloatTrailing esriTrailingPadding1 esriLeadingPadding1">
    <a id="${id}.deleteSetLink" href="JavaScript:void(0);" class="esriAGOFilterRemoveIcon" title="${i18n.deleteSet}"></a>
    <a id="${id}.addExpressionToSetLink" href="JavaScript:void(0);" class="esriAGOFilterAddExpToSetIcon" title="${i18n.addExpression}"></a>
  </div>
  <div dojoAttachPoint="allSetExpr" style="clear:both;" class="esriLeadingPadding1">
  </div>
</div>