 <div id="esriInvitationsGrid" style="width: 100%; height: 100%; margin:auto;">
    <table dojotype="dojox.grid.DataGrid" jsid="grid" id="invitationsNode" rowsperpage="10"
        delayscroll="true" class="esriGrid" style="height:100%; width:100%;">
    <thead>
        <tr>        
        <th get="arcgisonline.sharing.dijit.InvitationsGrid.formatters.groupName" formatter="arcgisonline.sharing.util.fix" width="20%" name="Group Name">${i18n.groupName}</th>
        <th get="arcgisonline.sharing.dijit.InvitationsGrid.formatters.sender" formatter="arcgisonline.sharing.util.fix" width="20%" name="Sender">${i18n.sender}</th>
        <th get="arcgisonline.sharing.dijit.InvitationsGrid.formatters.received" formatter="arcgisonline.sharing.util.fix" width="25%" name="Received">${i18n.received}</th>
        <th get="arcgisonline.sharing.dijit.InvitationsGrid.formatters.yourResponse" formatter="arcgisonline.sharing.util.fix" width="60%" name="Your Response">${i18n.yourResponse}</th>
        </tr>
    </thead>
    </table>
 </div>   
