<div dojoAttachPoint="containerNode">
  <span dojoType="dijit.form.Button" type="button" class="calcite light" dojoAttachPoint="_prev" dojoAttachEvent="onClick:previous" alt="${i18n.prevPage}" title="${i18n.prevPage}">${i18n.previous}</span>
  <span dojoAttachPoint="_pages" dojoAttachEvent="onClick:page" class="esriItemLinks esriPagingLinks" style="vertical-align: middle;"></span>
  <span dojoType="dijit.form.Button" type="button" class="calcite light" dojoAttachPoint="_next" dojoAttachEvent="onClick:next" alt="${i18n.nextPage}" title="${i18n.nextPage}">${i18n.next}</span>
</div>