<div class="editable">
  <div class="LayerItem" data-dojo-attach-point="layerItemDomNode">
    <div class="layerItemIcon" data-dojo-attach-point="layerItemIcon"></div>
    <div class="titleInlineEditBoxWrapper" data-dojo-attach-point="titleBox" title="">
      <div class="titleInlineEditBox" data-dojo-attach-point="titleInlineEditBox" data-dojo-type="dijit/InlineEditBox" data-dojo-props="disabled:true,editor:'dijit/form/ValidationTextBox',editorParams:{regExp:'\[^<>]+'}"></div>
    </div>
    <div class="layerEditButton" data-dojo-attach-point="layerEditButton"></div>
  </div>
</div>
