/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: #333;
  font-family: "Hiragino Sans GB","Microsoft Yahei","微软雅黑", "Pinghei",sans-serif;
  letter-spacing: normal;
  background: #FFFFFF;
  padding-top: 78px;
  -webkit-font-smoothing: antialiased;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-description {
	font-size: 16px;
	color: #808080;
}

.center {
  text-align: center;
}

p > img {
  margin: 24px 0;
}

/* AREA STYLES
-------------------------------------------------- */

.clear-area {
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 24px;
}

.gray-area {
  background-color: #F1F1F1;
  padding-top: 12px;
  padding-bottom: 24px;
}

.dark-area {
  background-color: #1F354A;
  padding-top: 12px;
  padding-bottom: 24px;
  color: #ffffff;
}

.blue-area {
  background-color: #1A4C87 ;
  padding-top: 12px;
  padding-bottom: 24px;
}

/* ACTIVE OBJECT STYLES
-------------------------------------------------- */
.active-obj {
	display: none;
}

.disactive-obj {
	display: inline-block;
}

.active .active-obj {
	display: inline-block;
}

.active .disactive-obj {
	display: none;
}

/* CLEAR OBJECT MARGIN & PADDING
-------------------------------------------------- */
.clear-margin {
  margin: 0 !important;
}

.clear-padding {
  padding: 0 !important;
}

.clear-padding-left {
  padding-left: 0 !important;
}

.clear-padding-right {
  padding-right: 0 !important;
}

.loading{
  background: url(../images/loading.gif?v=3.01) no-repeat center center !important;
   margin: auto;
   z-index: 999;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.loadingOther {
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}