{% set pageview = 'dashboard' %}

{% extends "layout/base.html" %}
{% block title %}我的群组 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class="content">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">个人中心</a></li>
        <li class="active">我的工作组</li>
      </ol>
      <div class="group-list">
        <div id="groupTabs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#my-group" class="noradius" aria-controls="my-group" role="tab" data-toggle="pill">我的工作组</a>
            </li>
            <li role="presentation" class="">
              <a href="#public-group" class="noradius" aria-controls="public-group" role="tab" data-toggle="pill">公共工作组</a>
            </li>
            <li role="presentation" class="pull-right">
              <a href="#" class="btn btn-default add-group" data-toggle="modal" data-target="#groupModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加工作组
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="my-group">
              <div class="row" style="padding-top: 10px" id="my-group-list">
              </div>
              <!--<ul class="pager">
                <li class="previous disabled"><a id="home_previousPage" class="showGroups" href="?sid=undefined&amp;page=0"><span aria-hidden="true">←</span> 上一页</a></li>
                <li class="next disabled"><a id="home_nextPage" class="showGroups" href="?sid=undefined&amp;page=2">下一页 <span aria-hidden="true">→</span></a></li>
              </ul>-->
            </div>
            <div role="tabpanel" class="tab-pane" id="public-group">
              <div class="row" style="padding-top: 10px" id="public-group-list">
              </div>
              <!--<ul class="pager">
                <li class="previous disabled"><a id="settings_previousPage" class="showGroups" href="?sid=undefined&amp;page=0"><span aria-hidden="true">←</span> 上一页</a></li>
                <li class="next disabled"><a id="settings_nextPage" class="showGroups" href="?sid=undefined&amp;page=2">下一页 <span aria-hidden="true">→</span></a></li>
              </ul>-->
            </div>
          </div>
          <div class="loading"></div>
        </div>
      </div>
      <!--<div class="group-page">
        <ul class="pagination">
        </ul>
      </div>-->
    </div>
  </div>
  <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">创建群组</h4>
        </div>
        <div class="modal-body" style="font-size: 17px;">
          <form id="group-form">
            <input type="text" name="current-edittype" id="current-edittype" value="" placeholder="" style="display: none;" />
            <input type="text" name="current-groupid" id="current-groupid" value="" placeholder="" style="display: none;" />
            <div class="form-group">
              <label control-label=" ">名称:</label>
              <input type="text" class="form-control" name="name" id="group-name" value="" placeholder="组名称" />
            </div>
            <div class="form-group">
              <label control-label=" ">描述:</label>
              <textarea rows="3" class="form-control" name="summary" id="group-summary" value="" placeholder="在这里填写摘要信息"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary-d save-group">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary" style="border-bottom: 1px solid rgb(238, 238, 238);">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">邀请用户</h4>
        </div>
        <div class="modal-body" style="padding: 2em;">
          <div class="row">
            <input type="text" name="current-groupid" id="current-groupid" value="" placeholder="" style="display: none;" />
            <div class="col-xs-5">
              <select name="from" id="user_select" class="form-control" size="8" multiple="multiple">
              </select>
            </div>
            <div class="col-xs-2">
              <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
              <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
              <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
              <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-xs-5">
              <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary-d save-invite">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/group.js"></script>
{% endblock %}