<div class="functions-container">
    <div class="function" data-dojo-attach-event="onclick: showTool_AggregatePoints">
        <img class="function-thumbnail" src="./images/thumbnail/AggregatePoints32.png" />
        <h4 class="function-title">点集合</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="AggregatePointsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="AggregatePointsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_SummarizeNearby">
        <img class="function-thumbnail" src="./images/thumbnail/SummarizeNearby32.png" />
        <h4 class="function-title">邻近汇总</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="SummarizeNearbyTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="SummarizeNearbyTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_SummarizeWithin">
        <img class="function-thumbnail" src="./images/thumbnail/SummarizeWithin32.png" />
        <h4 class="function-title">范围内汇总</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="SummarizeWithinTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="SummarizeWithinTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_FindExistingLocations">
        <img class="function-thumbnail" src="./images/thumbnail/FindExistingLocations32.png" />
        <h4 class="function-title">查找现有位置</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="FindExistingLocationsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="FindExistingLocationsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_DeriveNewLocations">
        <img class="function-thumbnail" src="./images/thumbnail/FindNewLocations32.png" />
        <h4 class="function-title">派生新位置</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="DeriveNewLocationsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="DeriveNewLocationsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_FindSimilarLocations">
        <img class="function-thumbnail" src="./images/thumbnail/FindSimilarLocations32.png" />
        <h4 class="function-title">查找相似位置</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="FindSimilarLocationsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="FindSimilarLocationsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_CalculateDensity">
        <img class="function-thumbnail" src="./images/thumbnail/CreateDensitySurface32.png" />
        <h4 class="function-title">计算密度</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="CalculateDensityTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="CalculateDensityTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_FindHotSpots">
        <img class="function-thumbnail" src="./images/thumbnail/FindHotSpots32.png" />
        <h4 class="function-title">查找热点</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="FindHotSpotsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="FindHotSpotsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_InterpolatePoints">
        <img class="function-thumbnail" src="./images/thumbnail/CreateInterpolatedSurface32.png" />
        <h4 class="function-title">点插值</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="InterpolatePointsTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="InterpolatePointsTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_CreateBuffers">
        <img class="function-thumbnail" src="./images/thumbnail/CreateBuffers32.png" />
        <h4 class="function-title">创建缓冲区</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="CreateBuffersTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="CreateBuffersTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_FindNearest">
        <img class="function-thumbnail" src="./images/thumbnail/FindNearest32.png" />
        <h4 class="function-title">查找最近点</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="FindNearestTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="FindNearestTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_DissolveBoundaries">
        <img class="function-thumbnail" src="./images/thumbnail/DissolveBoundaries32.png" />
        <h4 class="function-title">融合边界</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="DissolveBoundariesTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="DissolveBoundariesTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_ExtractData">
        <img class="function-thumbnail" src="./images/thumbnail/ClipAndShip32.png" />
        <h4 class="function-title">提取数据</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="ExtractDataTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="ExtractDataTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_MergeLayers">
        <img class="function-thumbnail" src="./images/thumbnail/MergeLayers32.png" />
        <h4 class="function-title">合并图层</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="MergeLayersTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="MergeLayersTool"></i>
        </span>
    </div>
    <div class="function" data-dojo-attach-event="onclick: showTool_OverlayLayers">
        <img class="function-thumbnail" src="./images/thumbnail/OverlayLayers32.png" />
        <h4 class="function-title">图层叠加</h4>
        <span class="esriFloatTrailing helpContainer">
           <i class="treenode-tool detail" title="详情" detailstopic="OverlayLayersTool"></i>
          </span>
        <span class="esriFloatTrailing helpContainer" style="margin-right: 0;">
            <i class="treenode-tool info" title="帮助" esrihelptopic="OverlayLayersTool"></i>
        </span>
    </div>
</div>
