<div>
    <div class="toolbar-item">
        <img class="toolbar-image" src="../themes/blue-light/images/icons/save.png" alt="" />
        <img class="toolbar-image-hover" src="../themes/blue-light/images/icons/save2.png" alt="" />
        <p>保存</p>
    </div>
    <div class="toolbar-item">
        <img class="toolbar-image" src="../themes/blue-light/images/icons/share.png" alt="" />
        <img class="toolbar-image-hover" src="../themes/blue-light/images/icons/share2.png" alt="" />
        <p>分享</p>
    </div>
    <div class="toolbar-item">
        <img class="toolbar-image" src="../themes/blue-light/images/icons/print.png" alt="" />
        <img class="toolbar-image-hover" src="../themes/blue-light/images/icons/print2.png" alt="" />
        <p>打印</p>
    </div>
    <div class="toolbar-item">
        <img class="toolbar-image" src="../themes/blue-light/images/icons/measure.png" alt="" />
        <img class="toolbar-image-hover" src="../themes/blue-light/images/icons/measure2.png" alt="" />
        <p>测距</p>
    </div>
    <div id="switch3D" class="toolbar-item">
        <img class="toolbar-image" src="../themes/blue-light/images/icons/flag_3d.png" alt="" />
        <img class="toolbar-image-hover" src="../themes/blue-light/images/icons/flag_2d.png" alt="" />
        <p>三维</p>
    </div>
</div>
