{% set pageview = 'data' %}

{% extends "layout/base.html" %}
{% block title %}数据服务 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class="page-start">
    <div class="container">
      <h2 class="page-heading">数据服务</h2>
      <p>用户可以上传、维护或分享自己的数据，也可以使用平台提供的各类公共数据。</p>
      <p></p>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据服务</a></li>
        <li class="active">智能地图</li>
      </ol>
      <div class="row">
        <div class="col-md-3">
          <div class="type-tree data-type">
            <p class="tree-title">标准分类<span class="tree-close">×</span></p>
            <ul class="tree-list">
              <li class="active"><a href="#" data-type="maps-webmaps">智能地图</a></li>
              <li><a href="#" data-type="scenes">三维场景</a></li>
              <li><a href="#" data-type="layers-map-service">矢量数据服务</a></li>
              <li><a href="#" data-type="layers-weblayers-features">要素服务</a></li>
              <li><a href="#" data-type="layers-weblayers-imagery">影像服务</a></li>
              <li><a href="#" data-type="layers-weblayers-scenelayers">三维数据服务</a></li>
              <li><a href="#" data-type="layers-wms">OGC标准服务</a></li>
              <li><a href="#" data-type="layers-stream-service">时态数据服务</a></li>
              <li><a href="#" data-type="maps-others">其他服务</a></li>
            </ul>
          </div>
          <div class="type-tree industry-type">
            <p class="tree-title">行业分类<span class="tree-close">×</span></p>
            <ul class="tree-list">
              <li><a href="#" data-industry="国土">国土</a></li>
              <li><a href="#" data-industry="水利">水利</a></li>
              <li><a href="#" data-industry="电力">电力</a></li>
              <li><a href="#" data-industry="公安">公安</a></li>
              <li><a href="#" data-industry="交通">交通</a></li>
              <li><a href="#" data-industry="教育">教育</a></li>
              <li><a href="#" data-industry="测绘">测绘</a></li>
              <li><a href="#" data-industry="发展改革">发展改革</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="resource-list clearfix">
            </div>
            <div class="resource-page">
              <ul class="pagination" style="display: none;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/data.js"></script>
{% endblock %}