{% set pageview = 'data' %}

{% extends "layout/base.html" %}
{% block title %}数据服务 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class='container'>
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="type-tree">
            <p class="tree-title">标准分类<span class="tree-close">×</span></p>
            <ul class="tree-list">
              <li class="active"><a href="#" id="maps-webmaps" data-type="maps-webmaps">智能地图</a></li>
              <li><a href="#" id="scenes">三维场景</a></li>
              <li><a href="#" id="Map Service">矢量数据服务</a></li>
              <li><a href="#" id="layers-weblayers-features" data-type="layers-weblayers-features">要素服务</a></li>
              <li><a href="#" id="layers-weblayers-imagery" data-type="layers-weblayers-imagery">影像服务</a></li>
              <li><a href="#" id="layers-weblayers-scenelayers" data-type="layers-weblayers-scenelayers">三维数据服务</a></li>
              <li><a href="#" id="WMS">OGC标准服务</a></li>
              <li><a href="#" id="Stream Service">时态数据服务</a></li>
              <li><a href="#" id="other">其他服务</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="resource-list clearfix">
            </div>
            <div class="resource-page">
              <ul class="pagination" style="display: none;">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/data.js"></script>
{% endblock %}