{% set pageview = 'function' %}

{% extends "layout/base.html" %}
{% block title %}功能服务 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class='container'>
    <div class="content">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="row">
            <div class="function-list">
            </div>
            <div class="map-page">
              <ul class="pagination">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/function.js"></script>
{% endblock %}