{% extends "layout/base.html" %}
{% block title %}数据服务 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class="item-start">
    <div class="container">
      <h2 class="item-title"></h2>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="item-content">
      </div>
      <div class="loading"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/js/item.js"></script>
{% endblock %}