{% set pageview = 'webmap' %}

{% extends "layout/base.html" %}
{% block title %}智能地图 - 地理空间信息服务管理系统{% endblock %}
{% block keywords %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="main">
  <div class='container'>
    <div class="content">
      <h1>Build Multi-Page Application</h1>
      <p>
        Build Multi-Page Application with Gulp
      </p>
      <a href="/login">
        <div class="button button-blue">Login</div>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}