<div data-dojo-attach-point="dap_container" class="${css.disabled}">
  <div role="button" tabindex="0" data-dojo-attach-point="dap_zoomIn"
       class="${css.zoomIn} ${css.button} ${css.interactive}" title="${labels.zoomIn}">
    <span aria-hidden="true" role="presentation"
          class="${css.zoomInIcon}"></span>
    <span class="${css.iconText}">${labels.zoomIn}</span>
  </div>
  <div role="button" tabindex="0" data-dojo-attach-point="dap_zoomOut"
       class="${css.zoomOut} ${css.button} ${css.interactive}" title="${labels.zoomOut}">
    <span aria-hidden="true" role="presentation"
          class="${css.zoomOutIcon}"></span>
    <span class="${css.iconText}">${labels.zoomOut}</span>
  </div>
</div>
