/**
 * Home
 */
 
.home {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

    .navbar {
      margin: 20px 0;
    }

    .navbar-default .navbar-nav a:hover {
      color: rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-nav .dropdown-menu a:hover {
      color: #5dd5f7;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
      color: rgba(255, 255, 255, .8);
      background-color: transparent;
      border-bottom: solid 2px rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
      color: rgba(255, 255, 255, .8);
      background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a:after {
      content:" ";
      background: rgba(255, 255, 255, .8);
      width:100%;
      height:2px;
      bottom:-2px;
      left:0;
      position:absolute;
      -webkit-transform-origin:center;
      transform-origin:center;
      -webkit-transform:scaleX(0);
      transform:scaleX(0);
      -webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
      transition:transform 0.3s, opacity 0.3s
    }

    .navbar-default .navbar-nav > li > a:hover:after,
    .navbar-default .navbar-nav > li > a:focus:after {
      -webkit-transform:scaleX(1);
      transform:scaleX(1);
      color: rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav>li>a {
      color: #fff;
    }
  }

  .account {
    .btn-group {
      margin: 5px 0 5px 10px;
      border-radius: 15px;
      border: solid 1px #fff;
    }

    .btn-default {
      color: rgba(255, 255, 255, 0.8);
      background-color: transparent;
      border: none;

      &:hover {
        color: #fff;
      }
    }

    .btn:first-child {
      border-right: solid 1px #fff;
    }
  }
}

/* CAROUSEL
-------------------------------------------------- */
.carousel {
  height: 500px;

  .carousel-caption {
    top: 40%;
    
    p {
      font-size: 16px;
    }
  }

  .item {
    height: 500px;
    background-color: #004d8c;

    .container {
      padding-top: 0px;
    }

    .media-body {
      color: #fff;
      vertical-align: middle;

      h1 {
        border-bottom: 1px solid white;
        padding-bottom: 12px;
      }

      p {
        font-size: 16px;
      }

      .desciption{
        padding-top: 15px;
      }
    }
  }

  .item-platform {
    /*background: url(../images/bg.jpg)  no-repeat center;*/
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /*.item-data {
    background: url(../images/bg/data.jpg)  no-repeat right 0px;
  }
  
  .item-exchange {
    background: url(../images/bg/exchange.jpg)  no-repeat left 0px;
  }*/
}




.platform-feature {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff !important;
  margin: 0px;
  border-bottom: 1px solid #d3dbe5;
}

.platform-feature .index-content-header {
  width: 100%;
  display: block;
}

.platform-feature .index-content-header .title {
  width: 100%;
  font-size: 28px;
  font-weight: normal;
  color: #000;
  height: 178px;
  line-height: 34px;
  padding-top: 88px;
  padding-bottom: 56px;
  text-align: center;
}

@media (max-width: 767px) {
  .platform-feature .index-content-header .title {
    height: auto;
    padding-top: 44px;
    padding-bottom: 28px;
  }
}

.platform-feature .index-content-body {
  /*padding-top: 15px;*/
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 88px;
  height: auto;
}

@media (max-width: 767px) {
  .platform-feature .index-content-body {
    margin-bottom: 44px;
  }
}

.platform-feature .index-content-body .row {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto !important;
}

#index-content-banner {
  width: 100%;
  height: 600px;
  height: calc(100vh - 88px);
}

@media (max-width: 767px) {
  #index-content-banner {
    height: 350px;
  }
}

#index-content-banner .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}

#index-content-banner .swiper-pagination-bullet-active {
  background-color: #27AE60;
  border: 1px solid #fff;
}

#index-content-banner .swiper-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container .swiper-pagination,
  #index-content-banner .swiper-container .swiper-button-next,
  #index-content-banner .swiper-container .swiper-button-prev {
    display: none;
  }
}

#index-content-banner .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#index-content-banner .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #27AE60;
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container .swiper-wrapper .swiper-slide {
    display: none;
  }
  #index-content-banner .swiper-container .swiper-wrapper .swiper-slide:first-child {
    display: block;
  }
}

#index-content-banner .swiper-container .swiper-wrapper .swiper-slide .swiper--container-body {
  width: 100%;
  height: 100%;
}

#index-content-banner .swiper-container #page-1 {
  background: url(../img/index/index.jpg) center center no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container #page-1 {
    background: url(../img/index/index.jpg) center center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 540px) {
  #index-content-banner .swiper-container #page-1 {
    background: url(../img/index/index.jpg) center center no-repeat;
    background-size: auto 100%;
  }
}

#index-content-banner .swiper-container #page-1 .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: calc(50vh - 44px - 76px);
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container #page-1 .mask {
    background-size: auto 100%;
    padding-top: 123px;
    padding-bottom: 23px;
  }
}

#index-content-banner .swiper-container #page-1 .title {
  font-size: 2.4em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  -webkit-font-smoothing: initial;
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container #page-1 .title {
    font-size: 1.44em;
    height: 40px;
    line-height: 40px;
  }
}

#index-content-banner .swiper-container #page-1 .sub-title {
  font-size: 28px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  display: block;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  -webkit-font-smoothing: initial;
}

@media (max-width: 767px) {
  #index-content-banner .swiper-container #page-1 .sub-title {
    font-size: 16.8px;
    height: 30px;
    line-height: 30px;
  }
}

#index-content-banner .swiper-container #page-1 .btn {
  width: 164px;
}

@media (max-width: 767px) {
  #platform-feature .index-content-body {
    margin-bottom: 4px;
  }
}

#platform-feature .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#platform-feature .product-panel {
  text-align: center;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media (max-width: 767px) {
  #platform-feature .product-panel {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 49.5%;
    -ms-flex: 1 1 49.5%;
    flex: 1 1 49.5%;
    margin-bottom: 40px;
  }
}

#platform-feature .product-panel .icon {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 100%;
  -ms-flex: 2 0 100%;
  flex: 2 0 100%;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
}

#platform-feature .product-panel .icon img {
  width: auto;
  height: 80px;
  margin: 10px;
}

#platform-feature .product-panel#map-server .icon .static {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 18px 10px;
  left: calc(50% - 42px);
  z-index: 10;
}

#platform-feature .product-panel#map-server .icon .dynamic {
  z-index: 10;
}

#platform-feature .product-panel#map-server .icon .dynamic[index="line"] {
  position: absolute;
  width: 50px;
  height: 36px;
  left: calc(50% - 23px);
  top: 33px;
  margin: 0px;
  z-index: 8;
}

#platform-feature .product-panel#map-server .icon .dynamic[index="o"] {
  position: absolute;
  width: 12px;
  height: 15px;
  left: calc(50% - 27px);
  top: 29px;
  margin: 0px;
  z-index: 10;
}

#platform-feature .product-panel#map-server .icon .dynamic[index="x"] {
  position: absolute;
  width: 8px;
  height: 8px;
  left: calc(50% - 25px);
  top: 44px;
  margin: 0px;
}

#platform-feature .product-panel#map-server .icon .line-blank {
  position: absolute;
  width: 50px;
  height: 36px;
  left: calc(50% - 23px);
  top: 33px;
  z-index: 9;
  background-color: #fff;
  opacity: 0;
}

#platform-feature .product-panel#map-server .icon:hover .dynamic[index='o'] {
  opacity: 0;
  -webkit-animation: 1.5s linear 1.5s mapOAnimation infinite;
  animation: 1.5s linear 1.5s mapOAnimation infinite;
}

#platform-feature .product-panel#map-server .icon:hover .dynamic[index='x'] {
  opacity: 0;
  -webkit-animation: 1.5s linear 1.5s mapXAnimation infinite;
  animation: 1.5s linear 1.5s mapXAnimation infinite;
}

#platform-feature .product-panel#map-server .icon:hover .line-blank {
  opacity: 1;
  -webkit-animation: 3s linear mapLineAnimation infinite;
  animation: 3s linear mapLineAnimation infinite;
}

#platform-feature .product-panel#data .icon .static {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 18px 10px;
  left: calc(50% - 42px);
  z-index: 10;
}

#platform-feature .product-panel#data .icon .dynamic[index='shape-1'] {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(50% - 35px);
  top: 14px;
}

#platform-feature .product-panel#data .icon .dynamic[index='shape-2'] {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(50% - 35px);
  top: 34px;
}

#platform-feature .product-panel#data .icon .dynamic[index='shape-3'] {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(50% - 35px);
  top: 54px;
}

#platform-feature .product-panel#data .icon .dynamic[index="dot"] {
  position: absolute;
  width: 27px;
  height: 8px;
  right: calc(50% - 34px);
  top: 15px;
  z-index: 5;
}

#platform-feature .product-panel#data .icon .dot-blank {
  position: absolute;
  width: 27px;
  height: 8px;
  right: calc(50% - 24px);
  top: 25px;
  z-index: 9;
  background-color: #fff;
  opacity: 0;
}

#platform-feature .product-panel#data .icon:hover .dynamic[index='shape-1'] {
  -webkit-animation: 2s linear 0s resouceOAnimation infinite;
  animation: 2s linear 0s resouceOAnimation infinite;
}

#platform-feature .product-panel#data .icon:hover .dynamic[index='shape-2'] {
  -webkit-animation: 2s linear 0.5s resouceOAnimation infinite;
  animation: 2s linear 0.5s resouceOAnimation infinite;
}

#platform-feature .product-panel#data .icon:hover .dynamic[index='shape-3'] {
  -webkit-animation: 2s linear 1s resouceOAnimation infinite;
  animation: 2s linear 1s resouceOAnimation infinite;
}

#platform-feature .product-panel#data .icon:hover .dot-blank {
  -webkit-animation: 2s linear resouceDotAnimation infinite;
  animation: 2s linear resouceDotAnimation infinite;
}

#platform-feature .product-panel#api .icon .static {
  position: absolute;
  width: 72px;
  height: 50px;
  margin: 25px 10px;
  left: calc(50% - 46px);
}

#platform-feature .product-panel#api .icon .dynamic {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - 60px + 45px);
  bottom: 15px;
  margin: 0px;
}

#platform-feature .product-panel#api .icon:hover .dynamic {
  -webkit-animation: 3s linear serversAnimation infinite;
  animation: 3s linear serversAnimation infinite;
}

#platform-feature .product-panel#app .icon .static {
  position: absolute;
  width: 60px;
  height: 80px;
  margin: 10px;
  left: calc(50% - 52px);
  opacity: 1;
}

#platform-feature .product-panel#app .icon .dynamic {
  position: absolute;
  width: 60px;
  height: 80px;
  margin: 10px;
  left: calc(50% - 52px);
  opacity: 0;
}

#platform-feature .product-panel#app .icon:hover .static {
  opacity: 0;
}

#platform-feature .product-panel#app .icon:hover .dynamic {
  opacity: 1;
  -webkit-animation: 3s ease-in-out appsAnimation infinite;
  animation: 3s ease-in-out appsAnimation infinite;
}

#platform-feature .product-panel .title {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 100%;
  -ms-flex: 2 0 100%;
  flex: 2 0 100%;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #platform-feature .product-panel .title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#platform-feature .product-panel .text {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 100%;
  -ms-flex: 2 0 100%;
  flex: 2 0 100%;
  height: calc(100% - 214px);
  font-size: 14.28px;
  font-weight: normal;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: justify;
}

#platform-feature .product-panel .text p {
  color: #333;
  margin: 0px;
}

@media (max-width: 767px) {
  #platform-feature .product-panel .text {
    height: calc(100% - 194px);
  }
}

#platform-feature .product-panel .btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 80px;
  -ms-flex: 0 80px;
  flex: 0 80px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@-webkit-keyframes mapOAnimation {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mapOAnimation {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mapXAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mapXAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mapLineAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes mapLineAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@-webkit-keyframes resouceOAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes resouceOAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes resouceDotAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
}

@keyframes resouceDotAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
}

@-webkit-keyframes serversAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes serversAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes appsAnimation {
  0% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes appsAnimation {
  0% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
