/**
 * Home
 */

.home {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

    .navbar {
      margin: 20px 0;
    }

    .navbar-default {
      border: 0;
    }

    .navbar-default .navbar-nav a:hover {
      color: rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-nav .dropdown-menu a:hover {
      color: #5dd5f7;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
      color: rgba(255, 255, 255, .8);
      background-color: transparent;
      border-bottom: solid 2px rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
      color: rgba(255, 255, 255, .8);
      background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a:after {
      content:" ";
      background: rgba(255, 255, 255, .8);
      width:100%;
      height:2px;
      bottom:-2px;
      left:0;
      position:absolute;
      -webkit-transform-origin:center;
      transform-origin:center;
      -webkit-transform:scaleX(0);
      transform:scaleX(0);
      -webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
      transition:transform 0.3s, opacity 0.3s
    }

    .navbar-default .navbar-nav > li > a:hover:after,
    .navbar-default .navbar-nav > li > a:focus:after {
      -webkit-transform:scaleX(1);
      transform:scaleX(1);
      color: rgba(255, 255, 255, .8);
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav>li>a {
      color: #fff;
    }
  }

  .account {
    .btn-group {
      border: solid 1px #fff;
    }

    .btn-default {
      color: #fff;
      background-color: transparent;
      border: none;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .btn:first-child {
      border-right: solid 1px #fff;
    }
  }
}


// carousel
.carousel {
  .carousel-caption {
    top: 40%;

    p {
      font-size: 16px;
    }
  }

  .item {
    height: 540px;

    .container {
      padding-top: 0px;
    }

    .media-body {
      color: #fff;
      vertical-align: middle;

      h1 {
        border-bottom: 1px solid white;
        padding-bottom: 12px;
      }

      p {
        font-size: 16px;
      }

      .desciption{
        padding-top: 15px;
      }
    }
  }

  .item-bg1 {
    background: url(../images/bg/bg1.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-bg2 {
    background: url(../images/bg/bg2.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-bg3 {
    background: url(../images/bg/bg3.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


// feature
.features {
  /*background-color: #fff;*/
  padding: 40px 0;

  .title {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    font-size: 24px;
    text-align: center;
  }

  .feature {
    margin: 0 auto;
    text-align: center;

    .icon {
      position: relative;
      height: 100px;

      /*img {
        margin: 10px;
      }*/
    }

    h3 {
      font-size: 20px;
    }

    .btn {
      color: #5dd5f7;
      border-color: #5dd5f7;

      &:hover {
        color: #fff;
        /*border-color: #adadad;*/
        background-color: #5dd5f7;
      }
    }
  }

  .data {
    .icon .static {
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 18px 10px;
      top: 0;
      left: calc(50% - 42px);
      z-index: 10;
    }

    .icon .dynamic[index='shape-1'] {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 25px;
      left: calc(50% - 27px);
    }

    .icon .dynamic[index='shape-2'] {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 45px;
      left: calc(50% - 27px);
    }

    .icon .dynamic[index='shape-3'] {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 65px;
      left: calc(50% - 27px);
    }

    .icon .dynamic[index="dot"] {
      position: absolute;
      width: 27px;
      height: 8px;
      top: 25px;
      right: calc(50% - 27px);
      z-index: 1;
    }

    .icon .dot-blank {
      position: absolute;
      width: 27px;
      height: 8px;
      right: calc(50% - 24px);
      top: 25px;
      z-index: 9;
      background-color: #fff;
      opacity: 0;
    }

    .icon:hover .dynamic[index='shape-1'] {
      -webkit-animation: 2s linear 0s dataOAnimation infinite;
      animation: 2s linear 0s dataOAnimation infinite;
    }

    .icon:hover .dynamic[index='shape-2'] {
      -webkit-animation: 2s linear 0.5s dataOAnimation infinite;
      animation: 2s linear 0.5s dataOAnimation infinite;
    }

    .icon:hover .dynamic[index='shape-3'] {
      -webkit-animation: 2s linear 1s dataOAnimation infinite;
      animation: 2s linear 1s dataOAnimation infinite;
    }

    .icon:hover .dot-blank {
      -webkit-animation: 2s linear dataDotAnimation infinite;
      animation: 2s linear dataDotAnimation infinite;
    }
  }

  .tool {
    .icon .static {
      position: absolute;
      width: 72px;
      height: 50px;
      margin: 25px 10px;
      left: calc(50% - 50px);
    }

    .icon .dynamic {
      position: absolute;
      width: 30px;
      height: 30px;
      left: calc(50% - 18px);
      bottom: 15px;
      margin: 0px;
    }

    .icon:hover .dynamic {
      -webkit-animation: 3s linear toolAnimation infinite;
      animation: 3s linear toolAnimation infinite;
    }
  }

  .app {
    .icon .static {
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 18px 10px;
      left: calc(50% - 42px);
      opacity: 1;
    }

    .icon .dynamic {
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 18px 10px;
      left: calc(50% - 42px);
      opacity: 0;
    }

    .icon:hover .static {
      opacity: 0;
    }

    .icon:hover .dynamic {
      opacity: 1;
      -webkit-animation: 3s ease-in-out appAnimation infinite;
      animation: 3s ease-in-out appAnimation infinite;
    }
  }
}

@-webkit-keyframes dataOAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dataOAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dataDotAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
}

@keyframes dataDotAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(27px);
    transform: translateX(27px);
  }
}

@-webkit-keyframes toolAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes toolAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes appAnimation {
  0% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes appAnimation {
  0% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform-origin: 75% bottom;
    transform-origin: 75% bottom;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


// feature-data
.feature-data {
  padding: 40px 0;
  background-color: #f6f6f6;

  .title {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
}

.feature-tool {
  padding: 40px 0;
  /*background-color: #f6f6f6;*/

  .title {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
}

/* ACTIVE OBJECT STYLES
-------------------------------------------------- */
.active-obj {
    display: none;
}

.disactive-obj {
    display: inline-block;
}

.active .active-obj {
    display: inline-block;
}

.active .disactive-obj {
    display: none;
}



/* THUMBNAIL
-------------------------------------------------- */
.tabclear .thumbnail {
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabclear .thumbnail:before,
.tabclear .thumbnail:after {
    content:"";
    display:table
}

.tabclear .thumbnail:after{clear:both}

.tabclear .thumbnail:hover,
.tabclear .thumbnail:focus {
    box-shadow:0 22px 43px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:0 22px 43px rgba(0, 0, 0, 0.15);
    color:#1A4C87;
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
    -moz-transform:none;
}

.tabclear .thumbnail .img-responsive {
    height: 146px; 
    width: 100%; 
    display: block;
    position: relative;
    -webkit-transition:0.4s;
    transition:0.4s
}

.tabclear .thumbnail .caption {
    padding: 9px;
}

.tabclear .thumbnail .caption .author-info {
    margin: 0;
    padding: 0;
}

/*.tabclear .thumbnail .author-avatar {
    margin-left: -40px;
}*/

.tabclear .thumbnail .author-avatar img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 0px;
    /*margin-left: -50px;*/
    /*vertical-align: 1px;*/
}

.tabclear .thumbnail .author-name {
    color: #999;
    font-size: 12px;
    display: inline-block;
    max-width: 53%;
}

.tabclear .thumbnail .comment-count,
.tabclear .thumbnail .view-count {
    color: #999;
    font-size: 12px;
    margin: 0 0 0 8px;
}

.tabclear .thumbnail-label {
    font-size: 16px;
    color: #222;
    line-height: 26px;
    margin: 20px 0 10px;
    width: 100%;
    vertical-align: middle;
}

.tabclear .thumbnail-description {
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
    height: 54px;
    overflow: hidden;
    word-break: break-all;
}

.tabclear .thumbnail-time {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin: 18px 0;
}

@media screen and (max-width: 1024px){
    .tabclear .thumbnail .img-responsive {
        height: 133px;
    }
}


/* FUNCTION ITEM
-------------------------------------------------- */
.funtion-item {
    cursor: pointer;
    padding: 4px;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funtion-item h4 {
    font-size: 16px;
    color: #222;
    font-weight: bold;
}


.funtion-item:hover,
.funtion-item:focus {
    background-color: #ffffff;
    box-shadow:0 22px 43px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:0 22px 43px rgba(0, 0, 0, 0.15);
    color:#1A4C87;
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
    -moz-transform:none;
}

.funtion-item img {
    padding-top: 12px;
    padding-bottom: 12px;
}

.funtion-item p {
    color: #666;
    font-size: 14px;
    padding-top: 12px;
}

.feature-app {
  
    position: relative;
    /* background-color: #1F354A; */
    background-color: #5dd5f7;
    padding: 24px 0;
    color: #fff;

    .tabapps {
      padding: 24px 0;
    }

    .tabapps .media {
      padding: 42px;
    }

    .tabapps .media .media-body {
      padding: 24px 24px 24px 80px;
    }

    .tabapps .media .media-heading {
      padding-bottom: 12px;
    }

    .tabapps .nav-tabs {
      padding: 0 24px;
      border-top: 1px solid #ddd;
    }

    .tabapps > .nav-tabs, 
    .tabs-right>.nav-tabs, 
    .tabs-left>.nav-tabs {
        border-bottom: 0;
    }

    .tabapps > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

    .tabapps > .nav-tabs > li > a {
      border-radius: 0;
      color: #fff;
      background-color: transparent;
    }

    .tabapps > .nav-tabs > li > a:hover,
    .tabapps > .nav-tabs > li > a:focus {
      border-color: rgba(153, 153, 153, 0.1);
      background: rgba(153, 153, 153, 0.1);
    }

    .tabapps > .nav-tabs > li.active > a {
      /*border-top-color: #1F354A;*/
      border-top-color: #5dd5f7;
      border-bottom-color: #ddd;
    }

    .tabapps > .nav-tabs > li.active > a:hover,
    .tabapps > .nav-tabs > li.active > a:focus {
      background-color: transparent;
      color: #fff;
      border-color: #ddd;
      /*border-top-color: #1F354A;*/
      border-top-color: #5dd5f7;
    }

    .tabapps .tab-content {
      margin-right: 24px;
      margin-left: 24px;
    }

    .tabapps .list-inline {
      margin: auto;
    }

    .tabapps .list-inline a {
      color: #ffffff;
      text-decoration: none;
    }

    .tabapps .list-inline a:hover,
    .tabapps .list-inline a:focus {
      color: #FF5A69;
    }

    .tabapps .list-inline a > p {
      padding-top: 12px;
    }

    .tabapps .list-inline > li {
      padding: 10px;
      cursor: pointer;
      border: 0;
      border-radius: 0;
      text-decoration: none;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

    .tabapps .list-inline > li:hover,
    .tabapps .list-inline > li:focus {
      color: #FF5A69;
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -moz-transform: none;
    }
}

