<div class="splashScreen">
    <div data-dojo-attach-point="firstParagraph"></div>
    <button data-dojo-attach-point="signInButton" class="blueButton smallButton" data-dojo-attach-event="click:_signInClick"></button>
    <div data-dojo-attach-point="secondParagraph"></div>
    <button data-dojo-attach-point="tryOutButton" class="orangeButton smallButton" data-dojo-attach-event="click:_tryArcGISClick"></button>
    <div data-dojo-attach-point="thirdParagraph"></div>
    <button data-dojo-attach-point="galleryButton" class="greyButton smallButton"  data-dojo-attach-event="click:_galleryClick"></button>
</div>