<div data-dojo-type="dijit.layout.BorderContainer" region="top" style="height:100%; padding:5px;">
  <div id="rendererColorTop" data-dojo-type="dijit.layout.ContentPane" class="panel panel_left" region="top" style="padding:2px;">
    <div id="rendererColorHeader">
      <div class="esriFloatTrailing" style="display:inline;">
        <a href="JavaScript:void(0);" data-dojo-attach-point="_closeBtn" data-dojo-attach-event="onClick:_onCancel" title="${i18n.close}" class="panel panel_close panel_collapse"></a>
      </div>
      <div id="rendererColorTitle" class="esriFloatLeading panel_title">
        ${i18n.rendererPanelTitle}
      </div>
      <div data-dojo-attach-point="_rendererColorLayer" class="panel_title" style="clear:both;">
      </div>
      <div style="clear:both; height:1px;"></div>
    </div>
    <div style="margin: 2px 0 20px 0; padding:10px 0;">
      <div data-dojo-attach-point="_rendererColorField" class="esriFloatLeading strong">
      </div>
      <!--
      <div data-dojo-attach-point="_rendererColorAttribute" class="esriFloatTrailing">
        <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="_rendererColorChangeButton" class="calcite tiny" data-dojo-attach-event="onClick:_onChangeField"><span>${i18n.change}</span></button>
      </div>
      -->
    </div>
  </div>
  <div id="renderer-color-content" data-dojo-type="dijit.layout.ContentPane" region="center" style="overflow-y:auto;padding:2px;">
    <table>
      <tbody>
        <tr id="rendererColorDividedBy">
          <td nowrap>
            <div class="firstColumnDiv">
              <label class="firstColumnLabel">
              ${i18n.dividedBy}&nbsp;
              </label>
            </div>
          </td>
          <td id="rendererColorDividedBySelect">
            <select data-dojo-attach-point="_rendererColorDividedByAttribute" data-dojo-attach-event="onChange:_onChangeDividedByAttribute" data-dojo-type="dijit.form.Select" maxHeight="150" sortByLabel="false">
            </select>
          </td>
        </tr>
        <tr id="rendererColorTheme">
          <td nowrap>
            <div class="firstColumnDiv">
              <label class="firstColumnLabel">
              ${i18n.theme}&nbsp;
              </label>
            </div>
          </td>
          <td id="rendererColorThemeSelect">
            <div data-dojo-attach-point="_rendererColorTheme" data-dojo-type="dijit.form.FilteringSelect" id="rendererColorThemeDropdown" data-dojo-attach-event="onChange:_onChangeColorTheme" class="dijitComboBoxNonEditable" sortByLabel="false">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width:100%;">
      <tbody>
        <tr>
          <td height="271">
            <div data-dojo-attach-point="_rendererColorSliderDiv">
              <div id="rendererColorSlider">
              </div>
            </div>
            <div data-dojo-attach-point="_rendererColorGridDiv" style="padding-top: 10px;">
              <div style="margin-bottom: 3px;">
                <span class="small clickToEditMsg">${i18n.clickToEdit}</span>
              </div>
              <div data-dojo-attach-point="_rendererColorGridContainer" class="rendererColorGridContainer" style="overflow-y: auto;overflow-x: none;">
                <div id="rendererColorGrid">
                </div>
              </div>
            </div>
          </td>
          <td nowrap class="toolsColumnTD" style="text-align:center; vertical-align:top; padding-top:20px;">
            <div data-dojo-attach-point="_rendererColorSymbolsTitle" data-dojo-attach-event="onClick:_onClickSymbols" class="rightIcons">
              <div data-dojo-attach-point="_rendererColorSymbols" class="symbolIconClassed">
              </div>
              <div style="padding-top: 5px;">
                <span class="toolsLabel">${i18n.symbols}</span>
              </div>
            </div>
            <div data-dojo-attach-point="_rendererColorZoomTitle" data-dojo-attach-event="onClick:_onClickZoom" class="rightIcons" style="padding-top: 15px;">
              <div data-dojo-attach-point="_rendererColorZoomIcon" class="zoomIcon">
              </div>
              <div style="padding-top: 5px;">
                <span data-dojo-attach-point="_rendererColorZoomLabel" class="toolsLabel">${i18n.zoomIn}</span>
              </div>
            </div>
            <div data-dojo-attach-point="_rendererColorLegendClassesTitle" data-dojo-attach-event="onClick:_onClickLegendClasses" class="rightIcons" style="padding-top: 15px;">
              <div data-dojo-attach-point="_rendererColorLegendClassesIcon" class="legendClassesIcon">
              </div>
              <div style="padding-top: 5px;">
                <span data-dojo-attach-point="_rendererColorLegendClassesText" class="toolsLabel">${i18n.legend}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div data-dojo-attach-point="_estimatedValuesMsg" class="small estimateMsg">
      ${i18n.estimatedValuesMsg}
    </div>
    <div data-dojo-attach-point="_zeroFeaturesMsg" class="small zeroFeaturesMsg">
      ${i18n.zeroFeaturesMsg}
    </div>
    <div data-dojo-attach-point="_rendererColorClassify" class="rendererColorClassify" style="clear:both;margin-top:20px;">
      <div>
        <table cellspacing="0"><tbody><tr><td valign="top">
          <div data-dojo-attach-point="_rendererColorClassifyCheckDiv">
            <input data-dojo-attach-point="_rendererColorClassifyCheck" data-dojo-attach-event="onChange:_onChangeClassify" data-dojo-type="dijit.form.CheckBox" checked="false" type="checkbox"/>
          </div>
        </td><td>
          <div data-dojo-attach-point="_rendererColorClassifyText">
            ${i18n.classifyData}
          </div>
        </td></tr></tbody></table>
      </div>
      <div data-dojo-attach-point="_rendererColorClassifyContent" class="esriLeadingMargin107" style="clear:both;margin-top:3px;">
        <div style="clear:both;margin-top:3px;">
          <span data-dojo-attach-point="_rendererColorClassifyMethodPart1"></span>
          <div data-dojo-attach-point="_rendererColorClassifyMethods" data-dojo-type="dijit.form.FilteringSelect" id="rendererColorClassifyMethodDropdown" data-dojo-attach-event="onChange:_onChangeClassifyMethod" class="dijitComboBoxNonEditable" sortByLabel="false">
          </div>
          <span data-dojo-attach-point="_rendererColorClassifyMethodPart2"></span>
        </div>
        <div data-dojo-attach-point="_rendererColorClassifyClassesTitle" style="clear:both;margin-top:3px;">
          <table>
            <tbody>
              <tr>
                <td nowrap>
                  <span data-dojo-attach-point="_rendererColorClassifyClassesPart1"></span>
                </td>
                <td>
                  <input data-dojo-attach-point="_rendererColorClassifyClasses" data-dojo-attach-event="onChange:_onChangeClassifyClasses" intermediateChanges="true" data-dojo-type="dijit.form.NumberSpinner" value="4" smallDelta="1" constraints="{min:1,max:10,places:0}" style="width:40px; margin: 0 5px;"/>
                </td>
                <td nowrap>
                  <span data-dojo-attach-point="_rendererColorClassifyClassesPart2"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-dojo-attach-point="_rendererColorClassifyStdDevIntervalTitle" style="clear:both;margin-top:3px;">
          <span data-dojo-attach-point="_rendererColorClassifyStdDevIntervalPart1"></span>
          <select data-dojo-attach-point="_rendererColorClassifyStdDevInterval" data-dojo-attach-event="onChange:_onChangeClassifyStdDevInterval" data-dojo-type="dijit.form.Select" style="width:50px;">
          </select>
          <span data-dojo-attach-point="_rendererColorClassifyStdDevIntervalPart2"></span>
        </div>
        <div data-dojo-attach-point="rendererColorPrecision" style="margin-top: 3px;">
          <table>
            <tbody>
              <tr>
                <td nowrap>
                  <span data-dojo-attach-point="_rendererColorPrecisionLabel">${i18n.roundClasses}</span>
                </td>
                <td>
                  <select data-dojo-attach-point="_rendererColorPrecision" data-dojo-attach-event="onChange:_onChangeColorPrecision" data-dojo-type="dijit.form.Select" maxHeight="150" sortByLabel="false" style="margin: 0 10px;">
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="clear:both;margin-top:5px;">
      <div data-dojo-attach-point="_rendererColorOtherCheckMsg" >
        <table cellspacing="0"><tbody><tr><td valign="top">
          <input data-dojo-attach-point="_rendererColorOtherCheck" data-dojo-attach-event="onChange:_onChangeOther" data-dojo-type="dijit.form.CheckBox" checked="false" type="checkbox"/>
        </td><td>
          <span data-dojo-attach-point="_rendererColorOtherTxt">
            ${i18n.drawOthers}
          </span>
        </td></tr></tbody></table>
      </div>
      <div data-dojo-attach-point="_rendererColorOther" class="esriLeadingMargin107" style="clear:both;">
        <table><tbody><tr><td>
          <div data-dojo-attach-point="_rendererColorOtherSymbolText">
            ${i18n.symbolLabel}
          </div>
        </td><td>
          <div data-dojo-attach-point="_rendererColorOtherSymbol" style="padding: 0 5px;"></div>
        </td></tr></tbody></table>
      </div>
    </div>
    <div data-dojo-attach-point="_rendererColorRotation" style="clear:both;margin-top:5px;">
      <div>
        <table cellspacing="0"><tbody><tr><td valign="top">
          <input data-dojo-attach-point="_rendererColorRotationCheck" data-dojo-attach-event="onChange:_onChangeRotation" data-dojo-type="dijit.form.CheckBox" checked="false" type="checkbox"/>
        </td><td>
          <div data-dojo-attach-point="_rendererColorRotationText">
            ${i18n.rotationMsg}
          </div>
        </td></tr></tbody></table>
      </div>
      <div data-dojo-attach-point="_rendererColorRotationContent" class="esriLeadingMargin107" style="clear:both;margin-top:3px;">
        <div style="margin-top:3px;">
          <select data-dojo-attach-point="_rendererColorRotationAttribute" data-dojo-attach-event="onChange:_onChangeRotationAttribute" data-dojo-type="dijit.form.Select" maxHeight="150" sortByLabel="false">
          </select>
        </div>
        <div style="margin-top:5px;">
          <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-attach-point="_rendererColorRotationClockwiseRadio" data-dojo-attach-event="onChange:_onChangeRotationDirection" data-dojo-props="checked:true" name="clockwise"/>
          ${i18n.clockwise}
        </div>
        <div style="margin-top:3px;">
          <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-attach-point="_rendererColorRotationCounterclockwiseRadio" data-dojo-attach-event="onChange:_onChangeRotationDirection" data-dojo-props="checked:false" name="clockwise"/>
          ${i18n.counterclockwise}
        </div>
      </div>
    </div>
    <div style="height:20px;"></div>
<!--
    <div data-dojo-attach-point="_rendererColorTransparency">
      <div data-dojo-attach-point="_rendererColorTransparencyTitle" class="esriFloatLeading sectionTitle" >
        ${i18n.transparency}
      </div>
      <div class="esriFloatLeading" style="clear:both; padding: 16px 10px 30px 10px;">
        <div id="rendererColorTransparencySlider">
        </div>
      </div>
    </div>
-->    
    <div data-dojo-attach-point="_rendererColorTransparency">
      <div data-dojo-attach-point="_rendererColorTransparencyTitle" class="esriFloatLeading sectionTitle" >
        ${i18n.transparency}
      </div>
      <div class="esriFloatLeading" style="clear:both; padding: 5px 10px 20px 10px;">
        <div data-dojo-attach-point="_rendererColorTransparencyOverallTitle" class="esriFloatLeading sectionSubTitle rendererColorHasAttributeTransparency" >
          ${i18n.overallTransparency}
        </div>
        <div id="rendererColorTransparencySliderDiv" class="esriLeadingPadding1" style="clear:both;">
          <div id="rendererColorTransparencySliderInnerDiv" class="esriFloatLeading" style="padding: 6px 0 20px;">
            <div id="rendererColorTransparencySlider">
            </div>
          </div>
        </div>
        <div data-dojo-attach-point="_rendererColorTransparencyPerFeatureTitle" class="esriFloatLeading sectionSubTitle rendererColorHasAttributeTransparency" style="clear:both;">
          ${i18n.perFeaturesTransparency}
        </div>
        <div style="clear:both;margin-top:3px;" class="esriItemLinks rendererColorHasAttributeTransparency esriLeadingPadding1">
          <span data-dojo-attach-point="_rendererColorAttributeTransparencyLabel_part1" class="esriLeadingMargin025"></span>
          <A data-dojo-attach-point="_rendererColorAttributeTransparencyLabel_part2" data-dojo-attach-event="onClick:_onClickAttributeTransparency" href="JavaScript:void(0);"></A>
          <span data-dojo-attach-point="_rendererColorAttributeTransparencyLabel_part3"></span>
        </div>
      </div>
    </div>

    <div data-dojo-attach-point="_rendererColorScale" style="clear:both;">
      <div data-dojo-attach-point="_rendererColorScaleTitle" class="esriFloatLeading sectionTitle">
        ${i18n.visibleRange}
      </div>
      <div data-dojo-attach-point="_rendererColorScaleSuggest" data-dojo-attach-event="onClick:_onClickScaleSuggest" class="esriFloatTrailing suggestLabel">
        &nbsp;${i18n.suggest}&nbsp;
      </div>
      <div class="esriFloatLeading" style="clear:both;padding: 10px;">
        <div id="rendererColorScaleSlider">
        </div>
      </div>
    </div>
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" region="bottom">
		<div id="rendererColorContentClose" data-dojo-type="dijit.layout.ContentPane" region="center" >
      <button data-dojo-type="dijit.form.Button" type="button" class="calcite blue" data-dojo-attach-point="_doneChangingButton" data-dojo-attach-event="onClick:_onDone"><span>${i18n.ok}</span></button>
      <button data-dojo-type="dijit.form.Button" type="button" class="calcite transparent" data-dojo-attach-point="_doneChangingButton" data-dojo-attach-event="onClick:_onCancel"><span>${i18n.cancel}</span></button>
    </div>
    <div id="rendererColorFooterDiv" data-dojo-type="dijit.layout.ContentPane" region="bottom" style="height:40px; padding: 0;">
      <div class="footer" id="rendererColorFooter" data-dojo-type="arcgisonline.sharing.dijit.SiteFooterMap" style="white-space:normal;">
      </div>
    </div>
  </div>
</div>