<div data-dojo-type="dijit.layout.BorderContainer" region="top" style="height:100%; padding:5px;">
  <div id="rendererHeatMapTop" data-dojo-type="dijit.layout.ContentPane" class="panel panel_left" region="top" style="padding:2px;">
    <div id="rendererHeatMapHeader">
      <div class="esriFloatTrailing" style="display:inline;">
        <a href="JavaScript:void(0);" data-dojo-attach-point="_closeBtn" data-dojo-attach-event="onClick:_onCancel" title="${i18n.close}" class="panel panel_close panel_collapse"></a>
      </div>
      <div id="rendererHeatMapTitle" class="esriFloatLeading panel_title">
        ${i18n.rendererPanelTitle}
      </div>
      <div data-dojo-attach-point="_rendererHeatMapLayer" class="esriFloatLeading panel_title" style="clear:both;">
      </div>
      <div style="clear:both; height:1px;"></div>
    </div>
    <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="_rendererHeatMapTop" region="center" style="padding:10px 0;overflow-y:auto;">
      <div data-dojo-attach-point="_rendererHeatMapField" class="esriFloatLeading strong">
      </div>
      <!--
      <div data-dojo-attach-point="_rendererHeatMapAttribute" class="esriFloatTrailing">
        <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="_rendererHeatMapChangeButton" class="calcite tiny" data-dojo-attach-event="onClick:_onChangeField"><span>${i18n.change}</span></button>
      </div>
      -->
    </div>
  </div>
  <div id="renderer-heatmap-content" data-dojo-type="dijit.layout.ContentPane" region="center" style="overflow-y:auto;padding:2px;">
    <table style="width:100%;margin-bottom:10px;">
      <tbody>
        <tr>
          <td height="200">
            <div id="rendererHeatMapSliderDiv">
              <div id="rendererHeatMapSlider">
              </div>
            </div>
          </td>
          <td nowrap class="toolsColumnTD" style="text-align:center; vertical-align:top; padding-top:20px;">
            <div data-dojo-attach-point="_rendererHeatMapSymbolsTitle" data-dojo-attach-event="onClick:_onClickSymbols" class="rightIcons">
              <div data-dojo-attach-point="_rendererHeatMapSymbols" class="symbolIcon">
              </div>
              <div style="padding-top: 5px;">
                <span class="toolsLabel">${i18n.symbols}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div data-dojo-attach-point="_rendererHeatMapInfluence" class="esriFloatLeading" style="clear:both;margin-top:20px;">
      <div data-dojo-attach-point="_rendererHeatMapInfluenceTitle" class="esriFloatLeading sectionTitle" >
        ${i18n.areaOfInfluence}
      </div>
      <div class="esriFloatLeading" style="clear:both; padding: 10px;">
        <div id="rendererHeatMapInfluenceSlider">
        </div>
      </div>
    </div>
    <div style="height:20px;"></div>
    <div data-dojo-attach-point="_rendererHeatMapTransparency" class="esriFloatLeading">
      <div data-dojo-attach-point="_rendererHeatMapTransparencyTitle" class="esriFloatLeading sectionTitle" >
        ${i18n.transparency}
      </div>
      <div class="esriFloatLeading" style="clear:both; padding: 16px 10px 30px 10px;">
        <div id="rendererHeatMapTransparencySlider">
        </div>
      </div>
    </div>
    <div data-dojo-attach-point="_rendererHeatMapScale" style="clear:both;">
      <div data-dojo-attach-point="_rendererHeatMapScaleTitle"  class="esriFloatLeading sectionTitle">
        ${i18n.visibleRange}
      </div>
      <div data-dojo-attach-point="_rendererHeatMapScaleSuggest" data-dojo-attach-event="onClick:_onClickScaleSuggest" class="esriFloatTrailing suggestLabel">
        &nbsp;${i18n.suggest}&nbsp;
      </div>
      <div class="esriFloatLeading" style="clear:both;padding: 10px;">
        <div id="rendererHeatMapScaleSlider">
        </div>
      </div>
    </div>
  </div>
  <div data-dojo-type="dijit.layout.ContentPane" region="bottom">
		<div id="rendererHeatMapContentClose" data-dojo-type="dijit.layout.ContentPane" region="center" >
      <button data-dojo-type="dijit.form.Button" type="button" class="calcite blue" data-dojo-attach-point="_doneChangingButton" data-dojo-attach-event="onClick:_onDone"><span>${i18n.ok}</span></button>
      <button data-dojo-type="dijit.form.Button" type="button" class="calcite transparent" data-dojo-attach-point="_doneChangingButton" data-dojo-attach-event="onClick:_onCancel"><span>${i18n.cancel}</span></button>
    </div>
    <div id="rendererHeatMapFooterDiv" data-dojo-type="dijit.layout.ContentPane" region="bottom" style="height:40px; padding: 0;">
      <div class="footer" id="rendererHeatMapFooter" data-dojo-type="arcgisonline.sharing.dijit.SiteFooterMap" style="white-space:normal;">
      </div>
    </div>
  </div>
</div>