<div class="${baseClass}">
  <div id="symbolStylerDiv">
  </div>
  <div class="esriFloatTrailing" style="margin:10px 0;">
    <button type="button" data-dojo-attach-point="_okBtn" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_onOK" class="calcite primary">${i18n.ok}</button>
    <button type="button" data-dojo-attach-point="_cancelBtn" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_onCancel" class="calcite cancel">${i18n.cancel}</button>
  </div>
</div>