/*
 * Page
 */

// header
.header {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar {
    margin: 10px 0;
  }

  .navbar-default {
    background-color: transparent;
    border: 0;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-default .navbar-nav a:hover {
    color: #108EE9;
    background-color: transparent;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: #108EE9;
    background-color: transparent;
    border-bottom: solid 2px #108EE9;
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: #777;
    background-color: transparent;
  }

  // .navbar-default .navbar-brand,
  // .navbar-default .navbar-nav>li>a {
  //   color: #777;
  // }

  .account {
    .btn-group {
      margin: 5px 0 5px 10px;
      padding: 0;
      border-radius: 15px;
      border: solid 1px #5dd5f7;
    }

    .btn-default {
      /*color: rgba(255, 255, 255, 0.8);*/
      background-color: transparent;
      border: none;

      &:hover {
        /*color: #fff;*/
      }
    }

    .btn:first-child {
      border-right: solid 1px #5dd5f7;
    }
  }
}

// main
.main {
  .page-start {
    padding: 60px 0;
    color: #fff;
    text-align: center;
    background: url(../images/home/bg2.jpg) no-repeat center;
    background-size: cover;
  }

  .content {
    padding: 30px 0;
  }
}

// footer
.footer {
  padding: 50px 0 60px;
  color: #fff;
  background-color: #333;

  // h4 {
  //   font-size: 16px;
  // }

  ul {
    padding: 0;
  }

  li {
    padding: 2px 0;
    list-style-type:none;
  }

  a {
    font-size: 16px;
    color: #a1a1a1;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
