body {
  font: 400 16px/1.62 Georgia, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #333;
  background-color: #fff;
}

a {
  color: #5acfd6;

  &:hover,
  &:focus {
    color: #5acfd6;
    text-decoration: underline;
  }
}

.btn-primary-d {
  color: #5acfd6;
  background-color: transparent;
  border-color: #5acfd6;

  &:hover {
    color: #fff;
    background-color: #5acfd6;
    border-color: #5acfd6;
  }
}
