<div class="Settings">
    <div class="mouseNavigation">
        <span data-dojo-attach-point="mouseNavigation" class="subHeader"></span>
        <div class="navImage" data-dojo-attach-point="navigationImage"></div>
        <div class="navGroup">
        <label>
            <input data-dojo-attach-point="WSVNavigationRadioButton">
            <span data-dojo-attach-point="WSVNavigationLabel" class="RadioLabel"></span>
        </label>
        <label>
        <input data-dojo-attach-point="ProNavigationRadioButton">
        <span data-dojo-attach-point="ProNavigationLabel" class="RadioLabel"></span>
        </label>
        </div>

    </div>
</div>