<div dojoType="dijit.layout.BorderContainer" region="top">
    <div dojoAttachPoint="aggregateToolContentPane" dojoType="dijit.layout.ContentPane" region="center" class="panel panel_left panel_analysis" style="padding: 0 5px 0 5px;overflow-x:hidden;overflow-y:auto;">
      <div dojoAttachPoint="toolCtr" style="width:100%;height:90%"></div>
    </div>
    <div dojoAttachPoint="aggrFooterPane" dojoType="dijit.layout.ContentPane" region="bottom" style="height:40px; padding: 0 5px 0 5px;">
      <div class="footer" id ="aggrfooter" dojoAttachPoint="aggrfooter" dojoType="arcgisonline.sharing.dijit.SiteFooterMap" style="white-space:normal;">
      </div>
    </div>
</div>
