<div dojoType="dijit.layout.BorderContainer" region="top" style="height:100%;">  
    <div id="edit-main" class="panel panel_left" dojoType="dijit.layout.ContentPane" region="top">
      <div id="edit-header" dojotype="dijit.layout.ContentPane" region="top" style="padding:5px 0 1px 5px;">
      <div class="esriFloatTrailing" style="display:inline;">
        <a href="JavaScript:void(0);" dojoAttachPoint="_closeBtn" title="${i18n.close}" class="panel panel_close panel_collapse"></a>
      </div>
        <div class="esriFloatLeading panel_title edit_panel_title">${i18n.editPanelTitle}</div>
        <div style="clear:both;height:1px;"></div>
      </div>
      <div dojotype="dijit.layout.ContentPane" id="templatePickerPane" region="right" style="clear:both; margin:3px;">
          <div id="templatePickerDiv"></div>
          <div id="editorDiv"></div>
      </div>
      <div id="buttonsDiv" style="padding-bottom:4px;">
        <center> 
          <button dojotype="dijit.form.Button" type="button" class="calcite light tiny" dojoAttachPoint="undoButton" iconclass="undoIcon" dojoAttachEvent="onClick:_undo"><span>${i18n.undo}</span></button>
          <button dojotype="dijit.form.Button" type="button" class="calcite light tiny" dojoAttachPoint="redoButton" iconclass="redoIcon" dojoAttachEvent="onClick:_redo"><span>${i18n.redo}</span></button>
          <button dojotype="dijit.form.Button" type="button" class="calcite light tiny" dojoAttachPoint="manageButton" dojoAttachEvent="onClick:_manage" style="display:none;"><span>${i18n.manage}</span></button>
        </center>
      </div>
    </div> 
   
    <div id="editContentFooter" dojoType="dijit.layout.ContentPane" region="bottom" style="height:40px; padding: 0 5px 0 5px; display:none;"> 
      <div class="footer" id="editFooter" dojotype="arcgisonline.sharing.dijit.SiteFooterMap" style="white-space:normal;"></div>
    </div>

</div>
