/* A
-------------------------------------------------- */
a {
	outline: 0;
	text-decoration: none;
}

a:hover, 
a:focus {
	text-decoration: none;
}

/* NAVBAR  市级模板
-------------------------------------------------- */
.navbar-blue {
	background-color: #ffffff;
	border-width: 0;
	padding-bottom: 14px;
	border-bottom: 4px solid #1A4C87;
}

.navbar-blue a {
	outline: 0;
	text-decoration: none;
}

.navbar-blue .container-fluid {
	padding-right: 42px;
	padding-left: 42px;
}

.navbar-blue .pipe {
    padding: 0 10px;
}

.navbar-blue .navbar-brand-text {
  color: #2864B1;
  font-size: 1.6em;
}

.navbar-blue .logo_tagline {
	background-color: #ffffff;
}

.navbar-blue .logo_tagline .col-md-12,
.navbar-blue .logo_tagline .col-xs-12,
.navbar-blue .logo_tagline .col-sm-12 {
 	padding: 0;
 }

.navbar-blue .logo_tagline .logo {
    float: left;
    margin-top: 20px;
}

.navbar-blue .logo_tagline .logo img {
  width: 75px;
  height: 48px;
	margin-right: 12px;
}

.navbar-blue .logo_tagline .tagline {
    float: right;
    margin: 14px 0 0;
}

.navbar-blue .logo_tagline .tagline .login {
    color: #1E60B4;
    font-size: 14px;
}

.navbar-blue .logo_tagline .tagline .login .navbar-nav {
	margin-top: 0;
}

.navbar-blue .logo_tagline .tagline .login a {
    background: none !important;
    color: #1E60B4;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.navbar-blue .logo_tagline .tagline .login a:hover,
.navbar-blue .logo_tagline .tagline .login a:focus {
    color: #FF5A69;
}

.navbar-blue .navbar-brand {
  color: #1E60B4;
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  background-color: transparent;
}

.navbar-blue .navbar-text {
  color: #1E60B4;
}

.navbar-blue .navbar-nav {
	margin-top: 24px;
}

.navbar-blue .navbar-nav > li {
	margin-right: 2px;

}

.navbar-blue .navbar-nav > .active {
	background-color: #1E60B4;
}

.navbar-blue .navbar-nav > .active > a {
	color: #ffffff;
}

.navbar-blue .navbar-nav > li > a {
  color: #222;
  font-size: 1.15em;
  min-width: 98px;
  text-align: center;
  padding: 6px 15px;
}

.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #1E60B4;
}

.navbar-blue .navbar-dropdown > .dropdown > a {
	color: #FF5A69;
	border: 1px solid #FF5A69;
	border-radius: 0;
}

.navbar-blue .navbar-dropdown > .dropdown > a:hover,
.navbar-blue .navbar-dropdown > .dropdown > a:focus {
	color: #ffffff;
	background-color: #FF5A69;
}

.navbar-blue .navbar-dropdown > .open > a {
	color: #ffffff;
	background-color: #FF5A69;
}

.navbar-blue .navbar-dropdown > .dropdown > a > .glyphicon-menu-hamburger {
	display: inline-block;
}

.navbar-blue .navbar-dropdown > .open > a > .glyphicon-menu-hamburger {
	display: none !important;
}

.navbar-blue .navbar-dropdown > .dropdown > a > .glyphicon-remove {
	display: none;
}

.navbar-blue .navbar-dropdown > .open > a > .glyphicon-remove {
	display: inline-block !important;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu {
	padding: 0;
	border: 0;
	border-radius: 0;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header {
	padding: 3px 10px;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header > p {
	padding-top: 8px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header > p > span {
	color: #FF5A69;
	font-size: 15px;
	border-bottom: 2px solid #FF5A69;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media {
	padding: 10px 12px;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body {
	color: #1E60B4;
	max-width: 256px;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body:hover,
.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body:focus {
	color: #FF5A69;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body > p {
	color: #222;
	font-size: 15px;
}

.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media:hover,
.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media:focus {
	background-color: #f5f5f5;
}

.navbar-right .dropdown-menu {
    margin-top: 24px;
    background-color: #1E60B4;
    padding-top: 1px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 7px 21px rgba(0, 0, 0, .1);
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.navbar-right .dropdown-menu > li {
  text-align: center;
}
.navbar-right .dropdown-menu > li > a{
  color: #ffffff;
  font-size: 1.10em;
  margin-bottom: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-right .dropdown-menu > li > a:hover,
.navbar-right .dropdown-menu > li > a:focus {
  -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    background-color: rgba(0,0,0,.5);
}


/* NAVBAR  县级模板
-------------------------------------------------- */
.navbar-red {
  background-color: #ffffff;
  border-width: 0;
  padding-bottom: 14px;
  border-bottom: 4px solid #1A4C87;
}

.navbar-red a {
  outline: 0;
  text-decoration: none;
}

.navbar-red .container-fluid {
  padding-right: 42px;
  padding-left: 42px;
}

.navbar-red .pipe {
    padding: 0 10px;
}

.navbar-red .navbar-brand-text {
  color: #398DEE;
  font-size: 1.6em;
}

.navbar-red .logo_tagline {
  background-color: #ffffff;
}

.navbar-red .logo_tagline .col-md-12,
.navbar-red .logo_tagline .col-xs-12,
.navbar-red .logo_tagline .col-sm-12 {
  padding: 0;
 }

.navbar-red .logo_tagline .logo {
    float: left;
    margin-top: 20px;
}

.navbar-red .logo_tagline .logo img {
  width: 46px;
  height: 46px;
  margin-right: 12px;
}

.navbar-red .logo_tagline .tagline {
    float: right;
    margin: 14px 0 0;
}

.navbar-red .logo_tagline .tagline .login {
    color: #398DEE;
    font-size: 14px;
}

.navbar-red .logo_tagline .tagline .login .navbar-nav {
  margin-top: 0;
}

.navbar-red .logo_tagline .tagline .login a {
    background: none !important;
    color: #398DEE;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.navbar-red .logo_tagline .tagline .login a:hover,
.navbar-red .logo_tagline .tagline .login a:focus {
    color: #FF5A69;
}

.navbar-red .navbar-brand {
  color: #398DEE;
}

.navbar-red .navbar-brand:hover,
.navbar-red .navbar-brand:focus {
  background-color: transparent;
}

.navbar-red .navbar-text {
  color: #398DEE;
}

.navbar-red .navbar-nav {
  margin-top: 24px;
}

.navbar-red .navbar-nav > li {
  margin-right: 2px;

}

.navbar-red .navbar-nav > .active {
  background-color: #398DEE;
}

.navbar-red .navbar-nav > .active > a {
  color: #ffffff;
}

.navbar-red .navbar-nav > li > a {
  color: #222;
  font-size: 1.15em;
  min-width: 98px;
  text-align: center;
  padding: 6px 15px;
}

.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #398DEE;
}

.navbar-red .navbar-dropdown > .dropdown > a {
  color: #FF5A69;
  border: 1px solid #FF5A69;
  border-radius: 0;
}

.navbar-red .navbar-dropdown > .dropdown > a:hover,
.navbar-red .navbar-dropdown > .dropdown > a:focus {
  color: #ffffff;
  background-color: #FF5A69;
}

.navbar-red .navbar-dropdown > .open > a {
  color: #ffffff;
  background-color: #FF5A69;
}

.navbar-red .navbar-dropdown > .dropdown > a > .glyphicon-menu-hamburger {
  display: inline-block;
}

.navbar-red .navbar-dropdown > .open > a > .glyphicon-menu-hamburger {
  display: none !important;
}

.navbar-red .navbar-dropdown > .dropdown > a > .glyphicon-remove {
  display: none;
}

.navbar-red .navbar-dropdown > .open > a > .glyphicon-remove {
  display: inline-block !important;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header {
  padding: 3px 10px;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header > p {
  padding-top: 8px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > .dropdown-header > p > span {
  color: #FF5A69;
  font-size: 15px;
  border-bottom: 2px solid #FF5A69;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media {
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body {
  color: #1E60B4;
  max-width: 256px;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body:hover,
.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body:focus {
  color: #FF5A69;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media > .media-body > p {
  color: #222;
  font-size: 15px;
}

.navbar-red .navbar-dropdown > .dropdown > .dropdown-menu > li > .media:hover,
.navbar-blue .navbar-dropdown > .dropdown > .dropdown-menu > li > .media:focus {
  background-color: #f5f5f5;
}




/* LEADER
-------------------------------------------------- */
.leader {
	height: 1px;
	border-top: 1px solid #e5e5e5;
	margin: 40px 0;
	text-align: center;
	line-height: 4px;
}

.leader h3 {
	color: #FF5A69;
	margin-top: -15px;
	display: inline-block;
	padding: 0 24px;
}

.clear-area .leader h3 {
	background-color: #ffffff;
}

.gray-area .leader h3 {
	background-color: #F1F1F1;
}

.dark-area .leader h3 {
	background-color: #004d8c;
	/*background-color: #1F354A;*/
}

/* NAVTAB
-------------------------------------------------- */
.tabclear {
	margin: 24px 0;
}

.tabclear > .nav-tabs.nav-justified{
	border-bottom: 1px solid #ddd;
}

.tabclear > .nav-tabs.nav-justified > li > a {
	border: 0;
	color: #707C89;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

.tabclear > .nav-tabs.nav-justified > li > a:after {
	content:" ";
	background:#FF5A69;
	width:100%;
	height:2px;
	bottom:-2px;
	left:0;
	position:absolute;
	-webkit-transform-origin:center;
	transform-origin:center;
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	-webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
	transition:transform 0.3s, opacity 0.3s
}

.tabclear > .nav-tabs.nav-justified > li > a:hover:after,
.tabclear > .nav-tabs.nav-justified > li > a:focus:after {
	-webkit-transform:scaleX(1);
	transform:scaleX(1);
}

.tabclear > .nav-tabs.nav-justified > .active > a,
.tabclear > .nav-tabs.nav-justified > .active > a:hover,
.tabclear > .nav-tabs.nav-justified > .active > a:focus {
    border: 0;
    border-bottom: 2px solid #FF5A69;
    color: #FF5A69;
}

.tabclear .tab-content {
	margin: 24px 4px 0 4px;
}

/* TopBanner
-------------------------------------------------- */
.topBanner {
    background: url("../images/gallery_banner.jpg") no-repeat scroll center center #0172B6;
    height: 60px;
} 
.topBanner h1 {
  margin-top: 15px;
    color: #FFF;
    font-size: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* CLEAR BUTTON
-------------------------------------------------- */
.clear-dark-button {
  border-color: #666;
  border-radius: 0;
  background: transparent;
  color: #666;
  padding: 6px 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.clear-light-button {
  border-color: #ffffff;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  padding: 6px 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.clear-light-button:hover,
.clear-light-button:focus,
.clear-dark-button:hover,
.clear-dark-button:focus {
  color: #FF5A69;
  border-color: #FF5A69;
  background: transparent;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -moz-transform: none;
}



/* pannel-heading
-------------------------------------------------- */
#content-result .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#content-result .pagination {
  margin: 0;
}
.content-container .panel {
  padding: 10px 0;
  border-radius: 0;
  margin-top: 14px;
  border: 0;
  box-shadow: 0 0 0;
}

.content-container .panel-heading {
  border-radius: 0;
      margin-top: -25px;
}
.panel-default > .panel-heading {
    background: #ffffff;
}
.content-container .panel-heading > span {
    font-size: 16px;
  font-weight: 700;
  border-bottom: 2px solid #0473c2;
  padding-bottom: 10px;
}

.content-container .panel .media {
  border: 0;
  box-shadow: 0 0 0;
}
.sort-content {
  text-decoration: none;
  margin-right: 10px;
  color: #0473C2;
}

#conform .active {
  color: red;
}
.icon-bar{
  cursor: pointer;
}
.change{
  color: red;
}
/* emptyContent
-------------------------------------------------- */
.emptyContent{
    min-height: 500px;
}
.emptyContent ol{
    padding-top: 50px;
}
.emptyContent ol li{
    list-style: none;
    color: #cccccc;
    padding: 5px 0 5px 300px;
}
.emptyContent ol li.first{
    font-size: 18px;
    color: #000000;
    padding: 5px 0 5px 290px;
}

/* FOOTER
-------------------------------------------------- */
.footer {
	padding: 30px 0;
	background-color:#F5F5F5;
}
.footer li {
    color: #666;   
}
.footer a {
    color: #666;   
}
.footer a:hover, 
.footer a:focus {
	color: #FF5A69;
}
.footer hr {
	border-top: 1px solid #e5e5e5;
}

.panel-group .panel {
	margin-bottom: 10px;
	border-radius: 0;
}

/* breadcrumb
-------------------------------------------------- */
.breadcrumb{
  background: #ECECEC;
}

.breadcrumb a{
  text-decoration: none;
}
.breadcrumb .filter-crumb{
  border: 1px dotted #ee3531;
  color: #ee3531;
  padding: 0 4px;
  cursor: pointer;
}

.breadcrumb .filter-crumb:hover,
.breadcrumb .filter-crumb:focus{
  border: 1px solid #ee3531;
}


/* scrollUp
-------------------------------------------------- */
#scrollUp {
  /*border:1px solid red;*/
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/top.png) no-repeat;
}
#scrollUp:hover,
#scrollUp:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.target {
  position: absolute;
  top: 0px;
  padding-top: 142px;
  margin-top: -142px;
}


.login, .notice {
    display: inline-block;
}
.login {
    float: left;
}
.navbar-right {
    margin-right: 20px;
}
.notice a {
    color: #FF0000;
}
.hot-icon {
    display: inline-block;
    width: 17px;
    height: 23px;
    float: left;
    background: url("../images/hot.png") no-repeat;
}


