<div class='esriDijitDialogPaneActionBar dijitDialogPaneActionBar' class="esriAlignTrailing" data-dojo-attach-point="actionBarNode">
  <span class="busyMessage hide" data-dojo-attach-point="busyMessageSpan"></span>
  <button class="calcite primary" data-dojo-type='dijit/form/Button' type='submit' data-dojo-attach-point="okButton"></button>
  <button class="calcite cancel" data-dojo-type='dijit/form/Button' type='button' data-dojo-attach-point="cancelButton" data-dojo-attach-event='click:onCancel'></button>
</div>
