<div class="widgetContent" >
  	<div dojotype="dijit.Dialog" dojoAttachPoint="_notificationDlg" title="${i18n.notificationDlgTitle}" style="width:435px;" execute="">
		<label >${i18n.notificationMsg}</label>
		<br />
		<br />
        <div dojotype="dijit.layout.BorderContainer" id="notificationsContainer" region="center" jsid="container" gutters="false" design="headline" style="height: 180px;">
            <div dojotype="dijit.layout.ContentPane" region="top" splitter="false">
				<div dojoType="arcgisonline.sharing.dijit.NotificationsList" jsid="notificationsList" id="notificationsList"></div>
			</div>
		</div>			
	  	<br /> 	 	
	  	<div style="float: right; padding-top:0px; padding-bottom:5px;">
		  	<button id="button_notifications-close" dojoType="dijit.form.Button" class="primary" dojoAttachEvent="onClick:_handleCloseBtn">${i18n.close}</button>
	  	</div>
	  	<br />&nbsp;<br /> 
  	</div>
</div>
