<div class="widgetContent" >
    <div dojotype="dijit.Dialog" id="open-presentation-dialog" title="${i18n.title}">
  		<div id="open-presentation-dialog-content">${i18n.unsavedChangesMsg}<br/>
        ${i18n.saveQtn}</div>
  		<br />  
		<div style="float: right;">
  			<button id="button_open-presentation-yes" class="jevent primary" dojoType="dijit.form.Button">${i18n.yesSave}</button>
  			<button id="button_open-presentation-no" class="jevent" dojoType="dijit.form.Button">${i18n.notSave}</button>
		</div>
  	<div style="clear:both;"/>  
	</div>
</div>