<div class="widgetContent">
  <div class="${baseClass}" id="password-policy-dialog" data-dojo-type="dijit/Dialog" data-dojo-attach-point="_dialog" title="${i18n.dialogTitle}" execute="">
    <div class="section">
      <span data-dojo-attach-point="_policyDesc">${i18n.policyDesc}</span>
    </div>

    <div class="section">
      <div class="pwdOption">
        <span style="display:none;">
          <input type="checkbox" id="enable-password-length" data-dojo-attach-point="_enableLength" data-dojo-type="dijit/form/CheckBox" checked="true" disabled="true">
        </span>
        <label for="enable-password-length">${i18n.isAtLeast}</label>
        <input type="text" class="smallInt" id="password-length" data-dojo-attach-point="_passwordLength" data-dojo-type="dijit/form/TextBox">
        <label for="enable-password-length">${i18n.charsLong}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-letter" data-dojo-attach-point="_enableLetter" data-dojo-type="dijit/form/CheckBox"
            data-dojo-attach-event="onClick:onMinLetterClick">
        <label for="enable-letter">${i18n.containsLetter}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-upper-case" data-dojo-attach-point="_enableUpperCase" data-dojo-type="dijit/form/CheckBox">
        <label for="enable-upper-case">${i18n.containsUpperCase}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-lower-case" data-dojo-attach-point="_enableLowerCase" data-dojo-type="dijit/form/CheckBox"
               data-dojo-attach-event="onChange:onCasingChange">
        <label for="enable-lower-case">${i18n.containsLowerCase}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-number" data-dojo-attach-point="_enableNumber" data-dojo-type="dijit/form/CheckBox">
        <label for="enable-number">${i18n.containsNumber}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-special" data-dojo-attach-point="_enableSpecial" data-dojo-type="dijit/form/CheckBox">
        <label for="enable-special" data-dojo-attach-point="_specialCharsLabel"></label>
      </div>
    </div>

    <div class="section">
      <div class="pwdOption">
        <input type="checkbox" id="enable-password-expire" data-dojo-attach-point="_enableExpire"
               data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:onExpireChange">
        <label for="enable-password-expire">${i18n.passwordExpires}</label>
        <input type="text" class="smallInt" id="password-days" data-dojo-attach-point="_expirationDays" data-dojo-type="dijit/form/TextBox">
        <label for="enable-password-expire">${i18n.days}</label>
      </div>

      <div class="pwdOption">
        <input type="checkbox" id="enable-password-history" data-dojo-attach-point="_enableHistory"
               data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:onHistoryChange">
        <label for="enable-password-history">${i18n.numPrevPasswords}</label>
        <input type="text" class="smallInt" id="password-history-num" data-dojo-attach-point="_numHistory" data-dojo-type="dijit/form/TextBox">
        <label for="enable-password-history">${i18n.passwords}</label>
      </div>
    </div>

    <div class="buttonBar esriFloatTrailing">
      <button type="button" class="calcite primary" data-dojo-attach-point="_okBtn"
              data-dojo-attach-event="onClick:onOk" data-dojo-type="dijit/form/Button">
        ${i18n.setPasswordPolicy}
      </button>
      <button type="button" class="calcite transparent" data-dojo-attach-point="_cancelBtn"
              data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">
        ${i18n.cancel}
      </button>
    </div>
  </div>
</div>