<div class="widgetContent" >
  <div dojotype="dijit.Dialog" id="subscription-status-dialog" dojoAttachPoint="subscriptionStatusDlg" title="" execute="">
    <div dojoAttachPoint="subscriptionStateDiv"></div>
    <br/>
    <div dojoAttachPoint="actionNeededDiv"></div>
    <br/>
    <div class="esriFloatTrailing"><button dojoAttachPoint="closeButton" dojoAttachEvent="onClick:onOkClick" class="jevent primary" dojoType="dijit.form.Button">${i18n.ok}</button></div>
    <br style="clear:both;"/>
  </div>
</div>