<div class="widgetContent" >
  <div dojotype="dijit.Dialog" id="tableStatistics-dialog" title="${i18n.tableStatisticsDlgTitle}"
  execute="">
    <div class="esriAGOTableStatistics">
      <div class="header" dojoattachpoint="_title">
      </div>
      <div class="hzLine"></div>
      <div dojoattachpoint="_description">
      </div>
      <div class="break"></div>
    </div>
    <button id="button_tableStatistics-close" dojoAttachEvent="onClick:onOkClick" class="jevent primary" dojoType="dijit.form.Button">${i18n.close}</button>
    <br/>
  </div>
</div>